[2017-04-03 17:25] tonikitoo opened #10 "Remove null-checks for WindowManagerState"
Now that we instance an instance by ws::Display, for mouse events handling, it is fine to remove the null checks.

Multiple patches added the null-checks, so there should be multiple "fixup!s".

[2017-04-03 17:36] fred-wang opened #11 "Make mus_ws_unittests (services_unittests now) pass"
Currently the mus ws unit tests (services_unittests now) pass on ozone-wayland-dev but they do not on ozone-wayland-chrome.

One of the issue is that these tests require the window manager access policy. There are more crashes / hangs that we need to analyze.

[2017-04-03 17:38] fred-wang opened #12 "Rename Display::OnWillDestroyTree"
Display::OnWillDestroyTree is a bad name for external mode since the window tree is actually destroyed once all the "displays" == "external mode windows" attached to it are closed. It should probably be called Display::OnWillBeDetachedFromTree or similar.

[2017-04-03 17:52] fred-wang opened #13 "Add README.md"
We need a README file explaining at least how to build chromium Linux/Ozone for Wayland and X11 and to run `chrome --mus`. Maybe more like how to contribute etc

[2017-04-03 18:10] tonikitoo opened #14 ""Handle OnBoundsChange in external mode. (#8)" crashes on me often"
#0 0x55c7f3abdd27 base::debug::StackTrace::StackTrace()
#1 0x55c7f3abd89f base::debug::(anonymous namespace)::StackDumpSignalHandler()
#2 0x7f9365fdd630 <unknown>
#3 0x55c7f45ed613 ui::OSExchangeData::SetString()
#4 0x55c7f75d90a1 ui::ws::PlatformDisplayDefault::SetCursorById()
#5 0x55c7f75d328c ui::ws::Display::UpdateNativeCursor()
#6 0x55c7f75dc65a ui::ws::ServerWindow::SetBounds()
#7 0x55c7f75d

[2017-04-03 18:26] tonikitoo opened #15 "Fix warning when building with jessie sysroot/clang"
(...)
1 warning generated.
[16353/27046] CXX obj/services/ui/ws/mus_ws_unittests/window_tree_unittest.o
In file included from ../../../home/tonikitoo/Devel/chromium/src/services/ui/ws/window_tree_unittest.cc:5:
../../../home/tonikitoo/Devel/chromium/src/services/ui/ws/window_tree.h:623:36: warning: [chromium-style] WeakPtrFactory members which refer to their outer class must be the last member in

[2017-04-03 18:48] tonikitoo opened #16 "Upstream https://github.com/Igalia/chromium/commit/7e464a588cb4"
There should be nothing preventing this to be upstreamed.

it would allow chrome --mus in non-chromeos builds.

[2017-04-03 18:49] tonikitoo opened #17 "Upstream https://github.com/Igalia/chromium/commit/32279d58d3"
There is nothing that prevents upstreaming. It has made MainMash code path needlessly chromeos specific.

[2017-04-03 18:50] tonikitoo opened #18 "Upstream https://github.com/Igalia/chromium/commit/c2ca674d48a1553b"
First take on this happening in https://codereview.chromium.org/2791693003/

[2017-04-04 09:52] fred-wang commented on #13
We should probably open a CL upstream to update https://chromium.googlesource.com/chromium/src/+/master/docs/ozone_overview.md with proper documentation.

[2017-04-04 12:54] fred-wang opened #21 "git cl format"
I'm not sure all our changes have been validated with "git cl format". At least in "services/ui/ws/", the script applies change to BUILD, window_tree_host_factory and window_tree_host_factory_registrar.

[2017-04-04 13:07] fred-wang commented on #11
So applying https://github.com/Igalia/chromium/pull/20 and using the window manager policy, the only remaining failure is a crash in WindowTreeClientTest.SetWindowBounds ; it may be related to issue #14

[2017-04-04 13:10] msisov opened #22 "Fix showing x11window before initialization is done."
X11WindowOzone is shown immediately after it's created and initialized. This leads to a window, which is shown without any contents at the beginning. We should probably avoid this.

See https://cs.chromium.org/chromium/src/services/ui/ws/platform_display_default.cc?type=cs&l=78
platform_window_->Show();

[2017-04-04 13:11] msisov commented on #10
Done

[2017-04-04 13:11] #10 closed, assigned to msisov

[2017-04-04 16:07] tonikitoo opened #26 "make basic keyboard input work"
Even after maksim's fix to the focus issue (pull #20), keyboard events are still not possible. Lets fix it..

[2017-04-04 17:27] fred-wang commented on #15
Fixed by https://github.com/Igalia/chromium/pull/25

[2017-04-04 17:27] #15 closed, assigned to tonikitoo

[2017-04-05 09:03] fred-wang commented on #21
OK, this is essentially done. Format is correct on ozone-wayland-dev. The remaining formatting errors in ozone-wayland-chrome are those added by the hack f0b3c5a0721084e524f3c9dc019cbeb5e3a4d897

[2017-04-05 09:03] #21 closed, assigned to fred-wang

[2017-04-05 12:08] fred-wang commented on #11
New update: Applying https://github.com/Igalia/chromium/pull/32 and using the window manager policy, WindowTreeClientTest.SetWindowBounds no longer crashes and all the other tests pass. However, it still fails because of some change to DefaultAccessPolicy::CanSetWindowBounds that was done in 7ded6b39e32859aa10fd092f50403802443f32ae

@tonikitoo Can you explain what was the rationale for doing that

[2017-04-05 12:15] fred-wang commented on #11
OK, it is needed to set initial bound of chrome (although resize still works).

[2017-04-05 12:56] tonikitoo commented on #11
Precisely correct.

[2017-04-05 17:36] fred-wang commented on #13
Fixed.

[2017-04-05 17:36] #13 closed, assigned to fred-wang

[2017-04-05 17:46] fred-wang commented on #11
So all the tests now pass if we revert the policy change:
https://github.com/Igalia/chromium/commit/0455566f661763c4e85951338a2d5098390bed8d

However doing so breaks chrome. Not yet sure about how to address that.

[2017-04-06 05:26] msisov opened #36 "Fix placement of windows that contain 3-dot menu, right click menu."
At the moment, placement doesn't work correctly - if one moves a main window and clicks on 3-dot menu, the last one is shown in completely another position. The menu should get the position of the main window and adjust self accordingly.

[2017-04-06 05:28] msisov opened #37 "Fix clicking on windows that contain menus (3-dot and right click menu)"
Even though, we already have a preliminary patch that makes 3-dot menu visible (https://github.com/Igalia/chromium/pull/23), mouse events still have been focused to a wrong position, I guess, that is why we are not able to click anything.

[2017-04-06 05:30] msisov opened #38 "Hide secondary windows' decoration."
Menus, right click menus, tooltip, status bubble must not have any decorations shown. Fix that.

[2017-04-06 05:33] msisov opened #39 "Properly destroy secondary windows (menus, tooltip and etc) when hiding."
At the moment, X11 windows of menus, tooltip (native windows) are hidden but not destroyed, when a signal for that comes. Seems like a path to the X11WindowOzone is not implemented.

[2017-04-07 14:01] tonikitoo opened #40 "after manual window resize, clicking gets more broken"
when user manually resizes the chrome window, click gets an odd offset.

[2017-04-07 16:06] tonikitoo commented on #17
https://codereview.chromium.org/2799933003/

[2017-04-10 13:44] tonikitoo opened #41 "SetBounds (downstream) CL crashes chromeos/chrome --mash runs and linux_os/chrome --mus"
ChromeOS/Mash:

$ out/ozone/chrome_os/chrome --mash --ozone-platform=x11 --user-data-dir=~/tmp-----
(...)
Received signal 11 SEGV_MAPERR 000000000000
[38214:38214:0410/094200.143797:186658622522:ERROR:wm_shell_mus.cc(257)] Not implemented reached in virtual void ash::mus::WmShellMus::RecordUserMetricsAction(ash::UserMetricsAction)
#0 0x563185fedee7 [38214:38214:0410/094200.144125:186658622851:ERRO

[2017-04-10 15:17] tonikitoo commented on #41
LinuxOS/mus:

Received signal 11 SEGV_MAPERR 000000000000
#0 0x5654a84c11f7 base::debug::StackTrace::StackTrace()
#1 0x5654a84c0d6f base::debug::(anonymous namespace)::StackDumpSignalHandler()
#2 0x7fca1c004630 <unknown>
#3 0x5654a8ff1a93 ui::OSExchangeData::SetString()
#4 0x5654ac154f38 [7146:7146:0410/111043.057996:ERROR:in_flight_change.cc(81)] change failed, type=9
ui::ws::PlatformDisplayDefau

[2017-04-11 15:41] tonikitoo opened #42 "Crash on gmail"
[14743:14743:0411/113949.258749:FATAL:cursor_factory_ozone.cc(25)] Check failed: impl_. No CursorFactoryOzone implementation set.
#0 0x55bebae268b7 base::debug::StackTrace::StackTrace()
#1 0x55bebae4072b logging::LogMessage::~LogMessage()
#2 0x55bebb9a9d28 ui::CursorFactoryOzone::GetInstance()
#3 0x55beb925cfa7 content::WebCursor::GetPlatformCursor()
#4 0x55beb925cddb content::WebCursor::GetNative

[2017-04-12 08:17] msisov opened #43 "Get real resolution of screen on Linux with mus"
As long as we don't wait until screen is detected, some default values are set. This leads to wrong placement of menu windows, eg, when once clicks 3-dot menu, it follows a root window, but as soon as root window is moved out of the default screen area (801x802 in our case, see - https://github.com/Igalia/chromium/commit/6b217e5ba298ec8320195fcdf5f842f965a6cdd6#diff-1b929b43ed9a373fec42ec2242e86a0

[2017-04-17 12:54] tonikitoo opened #46 "Check either https://codereview.chromium.org/2804403002 can be used for 'external window mode'"
CL description:

    Adds ability for WindowManager to create display roots

    Prior to this patch mus would automatically create a Window for
    each display and tell the WindowManager about it. This patch allows
    the WindowManager to control this behavior so that if the
    windowmanager wants to create the windows it can. In the new mode mus
    still creates a window for the display, but

[2017-04-17 12:56] tonikitoo opened #47 "mus_demo_unittests fail after April/17 rebase"
The culprit is https://codereview.chromium.org/2804373002 ( Eliminate Connector::Connect(), Connection, etc.) - revert it and fixing a small conflict makes the test pass again.

Needs investigation.

[2017-04-19 13:32] msisov opened #49 "Make views::Widget to distinguish mouse drag and move events"
At the moment, we seem not to update is_mouse_button_pressed_ or native_widget_->HasCapture() returns false.
I guess the problem is in native_widget_->HasCapture(), because when we click on a window to get menu, capture is set to the main chrome window, which disallows menu window to set capture and grab events. And when click is released, main window removes self from capturing, but menu window i

[2017-04-20 06:45] fred-wang commented on #47
@tonikitoo Per discussion with @msisov , I'm changing the title s/mus_tests_unitests/mus_ws_unitests

[2017-04-20 06:48] fred-wang commented on #47
@tonikitoo What is mus_test_unittests? Do you mean mus_ws_unittests (It's already failing per https://github.com/Igalia/chromium/issues/11)

[2017-04-20 07:01] msisov opened #51 "Fix base_unittests on our branch"
At the moment, we have base_unittests failing. Investigate what is the issue.

[2490/2490] ThreadCollisionTest.MTSynchedScopedRecursiveBookCriticalSectionTest (4001 ms)
Retrying 1 test (retry #1)
[16259:16282:0420/094925.059386:2632933131:ERROR:kill_posix.cc(84)] Unable to terminate process group 18920: No such process
[ RUN      ] ProcessUtilTest.CloneFlags
[18920:18920:0420/094924.969529:2632843

[2017-04-20 07:47] fred-wang commented on #51
Test has been disabled in our bot for now: https://build-chromium.igalia.com/#/builders/1/builds/145

[2017-04-20 07:47] fred-wang commented on #47
Test has been disabled in our bot for now: https://build-chromium.igalia.com/#/builders/1/builds/145

[2017-04-20 07:48] fred-wang commented on #11
Test has been disabled in our bot for now: https://build-chromium.igalia.com/#/builders/1/builds/145

[2017-04-20 11:11] tonikitoo commented on #47
fixed the description and title, @fred-wang

[2017-04-21 10:12] msisov commented on #51
I couldn't run all the base_unittests successfully even with ToT.

Seems like there is no issue and bots upstream are configured some other way so that tests are passing.

Retrying 1 test (retry #1)
[24399:24430:0421/131030.856583:14700730117:ERROR:kill_posix.cc(84)] Unable to terminate process group 27049: No such process
[ RUN      ] ProcessUtilTest.CloneFlags
[27049:27049:0421/131030.815539:147

[2017-04-21 17:56] tonikitoo opened #55 "fix missing window decoration (ozone/wayland)"
ozone/x11 shows the native window decoration (provided by default by the window manager).

in weston (and wayland), on the other hand, window decoration can be provided by server or client sides. In the case of chrome/mus, none of providing window decoration, hence we see no title bar, nor max/min/close buttons.

Fix it.

[2017-04-21 17:58] tonikitoo opened #56 "fix missing tab strip on chrome/mus windows"
Tabbed browser works (one can use control+t to open multiple tabs, and alt+[1-9] to switch between them.

But the tabstrip UI is missing.

Fix it!

[2017-04-21 19:04] tonikitoo commented on #56
this causes an crash when we open a 'incognito window' in chrome/mus:

[23728:23728:0421/150335.099862:FATAL:browser_non_client_frame_view_mus.cc(431)] Check failed: browser_view()->IsTabStripVisible().
#0 0x562e3a26b5d7 base::debug::StackTrace::StackTrace()
#1 0x562e3a2850db logging::LogMessage::~LogMessage()
#2 0x562e3df64f79 BrowserNonClientFrameViewMus::LayoutIncognitoButton()
#3 0x562e3df64e2

[2017-04-24 02:59] tonikitoo commented on #40
@msisov fixed?

[2017-04-24 12:36] msisov commented on #40
That's done!

[2017-04-24 12:36] #40 closed, assigned to msisov

[2017-04-24 12:36] msisov commented on #36
Fixed!

[2017-04-24 12:36] #36 closed, assigned to msisov

[2017-04-24 12:43] msisov opened #57 "Fix debug ozone build along with use_xbcommon"
When Ozone Linux build is built with use_xbcommon and use_debug flags, the following errors occur -
../../ui/ozone/platform/wayland/wayland_xkb_keyboard_layout_engine.cc:19: error: undefined reference to 'xkb_keymap_mod_get_index'
../../ui/ozone/platform/wayland/wayland_xkb_keyboard_layout_engine.cc:20: error: undefined reference to 'xkb_keymap_mod_get_index'
../../ui/ozone/platform/wayland/waylan

[2017-04-26 22:15] tonikitoo commented on #47
I look at it a little bit today, and it fails even on vanilla chromeos/ozone build (ToT).

@fred-wang do you remember any bot that runs mus_demo_unittests?

[2017-04-26 22:51] tonikitoo commented on #47
Mystery solved: mus_demo_unittests was actually not being build. After explicitly building the target 'services/ui/demo:mus_demo_unittests', mus_demo_unittests compiled and ran ok on linux and chromeos builds locally.

$ time ninja -C out/ozone/linux_os chrome mash:all ozone_unittests services/ui/demo/   services/ui/demo:mus_demo_unittests

$ ./out/ozone/linux_os//mus_demo_unittests --ozone-platfo

[2017-04-26 22:51] #47 closed, assigned to tonikitoo

[2017-04-27 06:23] fred-wang commented on #47
@tonikitoo My comment about the bot was that mus_ws_unittests is now disabled (the issue title was wrong).

Mus Demo fails on the bot: https://build-chromium.igalia.com/#/builders/1/builds/200 and @msisov said it also fails locally for him.

Maybe a build target is missing on the Igalia bot?

[2017-04-27 06:27] fred-wang commented on #47
@tonikitoo In Igalia's initial ticket I asked to build mus_demo_unittests.

[2017-04-27 12:36] tonikitoo commented on #55
Fixed. We are using chrome's builtin window decoration now for both x11 and wayland by default.

remaining issues, should have their own issue filed.

[2017-04-27 12:36] #55 closed, assigned to tonikitoo

[2017-04-27 12:37] tonikitoo commented on #56
Tabstrip is visible and functional now. Fixed.

Remaining issues, should have their own issue filed.

[2017-04-27 12:37] #56 closed, assigned to tonikitoo

[2017-04-27 12:38] tonikitoo opened #63 "hide ozone/x11 window manager title bar"
when using chromium's builtin window decorations,  regular x11/linux chromium builds do not show the window manager's title bar/decoration. we should do the same for ozone/x11

[2017-04-27 12:39] tonikitoo commented on #56
3-dot menu -> new incognito window ... NOW WORKS! :)

[2017-04-27 12:49] tonikitoo opened #64 "allow window dragging when interacting with chromium's builtin window decoration (caption area)"
in regular x11/linux, when using chromium's builtin window decoration, it is possible to drag the outer window around by drag and move its "caption" area (about the tapstrip).

we should allow the same on linux/ozone.

[2017-04-27 12:50] tonikitoo commented on #51
I created a label 'happens in tot' to represent an issue also reproducible in ToT.

[2017-04-28 13:36] msisov opened #65 "Disallow to make submenu windows by hovering into a main menu in wayland"
The way to create a menu window, which would be properly placed in regards of a main window, is to use an xdg_popup, but Wayland creates xdg_popups by taking a serial number of a certain event as a parameter. Those event are touch and press events. Leave/Enter events' serial won't work there.

Instead, allow chrome to create submenu only after clicking on menu.

https://people.freedesktop.org/~who

[2017-05-02 18:05] msisov opened #66 "Destroy ui::ws::Display once menu window is hidden"
As of now everything is destroyed except a ws::Display. When 3dot menu or right click menu is about to be hidden, almost all of the objects are destroyed, and when it is about to be shown again, new ws::Display is created. We grow in memory and don't release this resources.

[2017-05-02 21:35] tonikitoo opened #71 "set focus to newly created chrome/mus windows"
it is common that when one launches chrome (or a new tab, window), it is about to user keyboard to interact with the window right away.

fix chrome/mus to behave this way too.

[2017-05-03 14:21] tonikitoo commented on #43
Both wayland and x11 backends have implementation. Support for multiple monitors is still missing, but I will file another bug for it.

[2017-05-03 14:21] #43 closed, assigned to tonikitoo

[2017-05-03 14:23] tonikitoo opened #72 "[ozone] Support getting resolution of multiple screens on Linux"
Issue #43 added support for single displays (monitor) in ozone/x11 and ozone/wayland.

Eventually, we need to support multiple monitors or monitors that get attached/detached on the go.

[2017-05-05 06:31] msisov commented on #37
Wayland fix: https://github.com/Igalia/chromium/commit/1e6f75c4be1887c4a3db0e545284db5245a70746
X11 fix: https://github.com/Igalia/chromium/commit/e48502d3196f6744acf05c06b835a7c02659cb20

[2017-05-05 06:31] #37 closed, assigned to msisov

[2017-05-05 06:33] msisov opened #75 "Fix minimize/maximize events from Chrome in mus."
That is, as of now they are no-op buttons.

[2017-05-05 13:27] tonikitoo commented on #71
having a look at this one..

[2017-05-05 19:02] tonikitoo commented on #38
Fixed.

[2017-05-05 19:02] #38 closed, assigned to nobody

[2017-05-05 19:46] tonikitoo commented on #41
Ok, it's been a while I do not see this. closing for now..

[2017-05-05 19:46] #41 closed, assigned to nobody

[2017-05-05 21:18] tonikitoo commented on #14
Have not seen it in a while. closing for now..

[2017-05-05 21:18] #14 closed, assigned to nobody

[2017-05-05 21:47] tonikitoo opened #78 "revive status bubble"
it's been forcible disabled in

StatusBubble* Browser::GetStatusBubble() {
  // In kiosk and exclusive app mode, we want to always hide the status bubble.
  // if (chrome::IsRunningInAppMode()) <-----
    return NULL;

[2017-05-05 21:47] tonikitoo commented on #78
working on it..

[2017-05-08 13:46] tonikitoo commented on #71
Fixed by https://github.com/Igalia/chromium/pull/77.

[2017-05-08 13:46] #71 closed, assigned to tonikitoo

[2017-05-10 16:31] tonikitoo commented on #78
Fixed by PR #84 .

[2017-05-10 16:31] #78 closed, assigned to tonikitoo

[2017-05-10 18:43] tonikitoo opened #86 "Revive tooltips"
In PR https://github.com/Igalia/chromium/pull/85 , we disabled tooltips again.

Although PR #84 could fix most of the widgets we see in chrome (bookmark banner; url autocompletion, status bubble, zoom in/out banners), tooltips are still special.

in x11/chrome they require a native x11, and continue to do so in chrome/mus. However, it does not pass in the bounds upon creation, and this a use case

[2017-05-11 13:30] msisov commented on #75
X11 is fixed. What's left is wayland support.

[2017-05-12 14:35] tonikitoo opened #89 "Implement proper support fullscreen"
right now our fullscreen support works as if we were in internal window mode. the chrome window hides all decorations, and maximizes itself within the outer native window.

we should support regular style fullscreen support.

[2017-05-12 14:37] tonikitoo commented on #26
This works. Lets file follow up issues for other specific tasks.

[2017-05-12 14:37] #26 closed, assigned to tonikitoo

[2017-05-12 14:45] tonikitoo opened #90 "[ozone/x11] wrong focus on alt+tab"
make two outer windows (control+n)
switch focus between them using alt+tab (or atl+`)
chromium focus does not follow.

[2017-05-12 14:47] tonikitoo opened #91 "implement file picker"
[5648:5648:0512/104157.399526:ERROR:shell_dialog_linux.cc(30)] Not implemented reached in ui::SelectFileDialog *ui::CreateSelectFileDialog(SelectFileDialog::Listener *, ui::SelectFilePolicy *)

[2017-05-17 18:03] tonikitoo commented on #90
this seems to work for me with today's trunk.

[2017-05-17 18:03] #90 closed, assigned to nobody

[2017-05-22 20:13] tonikitoo commented on #86
working on it..

[2017-05-24 09:20] fred-wang opened #99 "chromium mus does not accept URL argument"
Testing this morning with Maksim,

      chromium --mus http://www.igalia.com

opens the default Google page instead of Igalia's website. In particular, this prevents from running https://github.com/Igalia/ces-demos-2017/blob/master/bin/sw-vs-hw-chrome.sh

[2017-05-24 17:38] msisov opened #100 "Umbrella for adding touchscreen support"
_That is, touchscreen events are not handled. Fix that!_

Update(12.10.2017): touchscreen is now supported, but there might be some bugs in the implementation.
Now this bug is a tracker for other bugs related to touchscreen bugs if any.

[2017-05-25 05:31] tonikitoo commented on #99
assigning to maksim.

[2017-06-01 08:13] msisov opened #102 "Fix maximize regression in *dev-rebased-temp branch"
That is, after the recent rebasing, we got a regression for maximization. Fix that and push the branch to our master.

[2017-06-01 11:12] msisov commented on #57
Fixed by https://github.com/Igalia/chromium/pull/95.

[2017-06-01 11:12] #57 closed, assigned to nobody

[2017-06-05 21:39] tonikitoo opened #106 "fix ui::ws::WindowTree::StackAbove impl"
Currently, we simply bail out early, unconditionally.

[2017-06-05 21:39] tonikitoo opened #107 "fix ui::ws::StackAtTop impl"
Currently, we simple bail out early, unconditionally.

[2017-06-05 21:54] tonikitoo opened #108 "Revert custom changes in WindowTreeClient::ConfigureWindowDataFromServer"
This should not be needed, once size/bounds change was improved.

[2017-06-06 08:26] msisov commented on #57
Upstreamed https://codereview.chromium.org/2888493004/

[2017-06-07 04:51] tonikitoo opened #110 "Adapt to upstream commit "Mus: Turn on surface synchronization""
The commit https://chromium-review.googlesource.com/516582 broke window resize, and is blocking our weekly rebases for two weeks. In order to continue with catching up against upstream, we are reverting the offending CL locally.

This issue tracks adapting our implementation to work with "surface synchronization".

First step contact fsamuel@ / rjkroege@.

[2017-06-07 14:59] tonikitoo opened #111 "Assertion hit: Try to send private message on Twitter"
- log in to twitter.com
- try to send a message to someone (click on the "messages" link at the top)
- click on an existing message thread with another user.

First the following error is seen on the screen:

[34647:34647:0607/105659.686877:190360137643:ERROR:validation_errors.cc(87)] Invalid message: VALIDATION_ERROR_UNKNOWN_ENUM_VALUE

And it seems like the browser gets frozen. If I unfocus the

[2017-06-08 19:15] tonikitoo opened #112 "ui::ws::Display::~Display are not deleted closing a window"
open one browser window.
then open another (control+n or menu)
close a window pressing "x".

ui::ws::Display::~Display is never called.

[2017-06-08 19:29] tonikitoo commented on #112
we are currently only destroying ui::ws::Display instances upon exit:

#0 0x556221d6b817 base::debug::StackTrace::StackTrace()
#1 0x556224db43c0 ui::ws::Display::~Display()
#2 0x556224db46a9 ui::ws::Display::~Display()
#3 0x556224d93d51 ui::ws::DisplayManager::DestroyDisplay()
#4 0x556224d93680 ui::ws::DisplayManager::DestroyAllDisplays()
#5 0x556224da0405 ui::ws::WindowServer::~WindowServer()
#6

[2017-06-09 08:19] msisov commented on #112
Mostly a duplicate of https://github.com/Igalia/chromium/issues/66

[2017-06-09 12:24] tonikitoo commented on #66
more info from issue #112:

1) open one browser window.
then open another (control+n or menu)
close a window pressing "x".

ui::ws::Display::~Display is never called.

2) we are currently only destroying ui::ws::Display instances upon exit:

#0 0x556221d6b817 base::debug::StackTrace::StackTrace()
#1 0x556224db43c0 ui::ws::Display::~Display()
#2 0x556224db46a9 ui::ws::Display::~Display()
#3 0x55622

[2017-06-09 12:24] tonikitoo commented on #112
Ok, closing..

[2017-06-09 12:24] #112 closed, assigned to nobody

[2017-06-10 15:51] tonikitoo commented on #102
Fixed by PR #109. Issue #110 is filed to keep track of the proper fix.

[2017-06-10 15:51] #102 closed, assigned to tonikitoo

[2017-06-12 03:18] tonikitoo opened #113 "Assertion hit: try to close last tab (control + w) , with at least one another window still opened."
- open a window.
- open another (control + n)
- close the window just opened (control + w):

[16437:16437:0611/231651.368268:19670950472:FATAL:window_manager_state.cc(726)] Check failed: tree.
#0 0x55c955a1c727 base::debug::StackTrace::StackTrace()
#1 0x55c955a365ad logging::LogMessage::~LogMessage()
#2 0x55c958b4e0b8 ui::ws::WindowManagerState::GetEventTargetClientId()
#3 0x55c958b67968 ui::ws::E

[2017-06-12 03:18] tonikitoo commented on #113
Taking. I've looking into this, since last week.

[2017-06-14 21:47] tonikitoo opened #115 "ozone/chromeos compilation is broken"
$ time ninja -C out/ozone/chrome_os chrome mash:all ozone_unittests services/ui/demo/ services_unittests
ninja: Entering directory `out/ozone/chrome_os'
[707/1629] CXX obj/services/ui/display/tests/screen_manager_ozone_internal_unittests.o
FAILED: obj/services/ui/display/tests/screen_manager_ozone_internal_unittests.o
../../../third_party/llvm-build/Release+Asserts/bin/clang++ -MMD -MF obj/service

[2017-06-14 21:47] tonikitoo commented on #115
the broken target is 'services_unittests'

[2017-06-14 21:54] tonikitoo commented on #110
Fix: https://github.com/Igalia/chromium/pull/116/

[2017-06-20 08:02] msisov commented on #64
Wayland: solved by https://github.com/Igalia/chromium/pull/117
X11: pending

[2017-06-20 13:52] tonikitoo opened #118 "linux/x11 compilation is broken"
$ time ninja -C out/x11  chrome
ninja: Entering directory `out/x11'
[1/1] Regenerating ninja files
[1288/1634] CXX obj/ui/views/views/desktop_window_tree_host_x11.o
FAILED: obj/ui/views/views/desktop_window_tree_host_x11.o
../../home/tonikitoo/Devel/chromium/src/third_party/llvm-build/Release+Asserts/bin/clang++ -MMD -MF obj/ui/views/views/desktop_window_tree_host_x11.o.d -DVIEWS_IMPLEMENTATION -D

[2017-06-21 07:26] msisov commented on #75
Fixed by https://github.com/Igalia/chromium/pull/104 https://github.com/Igalia/chromium/pull/97  https://github.com/Igalia/chromium/pull/94 https://github.com/Igalia/chromium/pull/83

[2017-06-21 07:27] msisov commented on #75
I'll keep it open as long as there is one minor thing missing in Wayland: send the window state back to aura through delegate.

[2017-06-21 11:11] msisov commented on #118
Hm, I don't get this error. And that method is implemented, actually. See this - https://github.com/Igalia/chromium/commit/d77978dcaef2d2c4d6c5cbe7412a3e843f8a01da#diff-718e876b3b97a30f09d59f6f00479502R1136

[2017-06-21 13:08] msisov commented on #115
fixed by https://github.com/Igalia/chromium/pull/119

[2017-06-21 13:08] #115 closed, assigned to nobody

[2017-06-23 12:27] msisov opened #123 "upstream https://github.com/Igalia/chromium/pull/122"
upstream the movement of x11_pointer_grab.h/cc

[2017-06-23 19:06] tonikitoo opened #125 "Assert hit: open menus + windows with mouse multiple times"
[33499:33499:0623/150456.327674:FATAL:window_event_dispatcher.cc(204)] Check failed: move_hold_count_ >= 0 (-1 vs. 0)
#0 0x5640dccda3a7 base::debug::StackTrace::StackTrace()
#1 0x5640dccf433d logging::LogMessage::~LogMessage()
#2 0x5640ddf49901 aura::WindowEventDispatcher::ReleasePointerMoves()
#3 0x5640ddf41ba5 aura::WindowTreeClient::OnCompositingEnded()
#4 0x5640ddf597f4 ui::Compositor::DidRece

[2017-06-24 11:18] rroohhh opened #126 "neo keyboard layout not working"
Using the german neo variant I get totally wrong keys, i.e QWERTY "u" gets me "7" as opposed to "h".

[2017-07-03 11:17] msisov commented on #118
closing, no actions needed

[2017-07-03 11:17] #118 closed, assigned to nobody

[2017-07-04 05:01] tonikitoo opened #134 "rework our "access policy" implementation"
we use DefaultAccessPolicy for the root WindowTree, and force WindowManagerAccessPolicy for the unittests to pass.

We should uniform our access policy usage.

[2017-07-04 05:01] tonikitoo commented on #134
first take: https://github.com/Igalia/chromium/pull/133

[2017-07-04 11:54] msisov commented on #64
X11: https://github.com/Igalia/chromium/pull/135

[2017-07-04 11:57] msisov commented on #75
Another two fixes: https://github.com/Igalia/chromium/pull/130 and https://github.com/Igalia/chromium/pull/127

[2017-07-04 12:00] msisov commented on #11
fixed by: https://github.com/Igalia/chromium/pull/121 (workaround)

going to be completely fixed by: https://github.com/Igalia/chromium/pull/133

[2017-07-04 12:09] msisov commented on #22
Looks like it's already been fixed. closing.

[2017-07-04 12:09] #22 closed, assigned to nobody

[2017-07-04 12:16] msisov commented on #49
Not reproducible anymore. Looks like fixed. Closing.

[2017-07-04 12:16] #49 closed, assigned to msisov

[2017-07-04 12:17] msisov commented on #12
tonikitoo, do you think this name is ok to have or should we call it something like OnWindowTreeWillBeDestroyed or RemoveWindowTreeFromMap?

[2017-07-04 13:10] msisov opened #137 "Support xdg shell v6"
That's it. Add support for xdg shell v6 in wayland implemention.

[2017-07-05 10:47] msisov commented on #137
started

[2017-07-05 16:16] tonikitoo commented on #134
actually , work switched to PR #141.

[2017-07-05 18:46] tonikitoo commented on #125
started. I face it all the time.

[2017-07-05 18:47] #110 closed, assigned to tonikitoo

[2017-07-05 18:49] tonikitoo commented on #107
This was fixed by https://github.com/Igalia/chromium/pull/124/commits/ef993dc1a1cf859b8a8317f411f7d983dc903cd3

[2017-07-05 18:49] #107 closed, assigned to nobody

[2017-07-05 18:49] tonikitoo commented on #106
Fixed by https://github.com/Igalia/chromium/pull/124/commits/ef993dc1a1cf859b8a8317f411f7d983dc903cd3

[2017-07-05 18:49] #106 closed, assigned to nobody

[2017-07-05 18:50] tonikitoo commented on #89
assigning to maksim for closing..

[2017-07-07 12:32] #125 closed, assigned to tonikitoo

[2017-07-07 20:22] tonikitoo commented on #134
Fixed.

[2017-07-10 19:48] tonikitoo opened #147 "Regression(xdg_v6): context menu do not show up immediately"
Bisecting has revealed that the xdg_v6 (PR #144) support patch has regressed one use case: context menus do not seem to show up immediately after left clicking. Instead, it requires a slightly mouse move (locally) to finally render.

[2017-07-12 11:53] tonikitoo commented on #134
And work switched again to PR #149 . Fixed.

[2017-07-12 11:53] #134 closed, assigned to tonikitoo

[2017-07-12 11:53] tonikitoo commented on #108
this is still needed, for next menus for some reason. I will try to look at it.

[2017-07-12 15:32] tonikitoo commented on #111
Also seen simply by loading: https://pads.igalia.com/mypads/?/mypads/group/igalia-staff-d7fuy4y/pad/view/chromium-coord-meeting-14-06-2017-5k57w26 (igalia only).

[2017-07-13 18:51] tonikitoo opened #152 "Assert hit: FATAL:session_restore_stats_collector.cc(209)] Check failed: 0u < loading_tab_count_ (0 vs. 0)"
1) Open settings (chrome:settings)
2) On "On startup" options, mark "continue where you left off".
3) launch the same profile (--user-data-dir=<profile>) a couple of opportunities from command line.

The assert below is hit, occasionally:

[3782:3782:0713/144711.363971:234873367:ERROR:wayland_window.cc(278)] Not implemented reached in virtual void ui::WaylandWindow::SetCursor(ui::PlatformCursor)
[

[2017-07-13 18:52] tonikitoo commented on #111
Fixed by PR #151.

[2017-07-13 18:52] #111 closed, assigned to tonikitoo

[2017-07-13 19:09] tonikitoo opened #153 "trailing \t char is interset when switching editable fields with TAB"
try to login on any portal (e.g. https://gmail.com).
type the user and press the TAB key to switch focus to the password field.

OUTCOME: the focus is switched, but a trailing "\t" character is inserted before the switch focus action takes place.
EXPECTED: focus should switch but not trailing "\t" character is inserted.

[2017-07-16 14:14] tonikitoo commented on #89
Closing as fixed. Maksim, please reopen if there is more work needed.

[2017-07-16 14:14] #89 closed, assigned to msisov

[2017-07-16 14:15] tonikitoo commented on #64
Fixed?

[2017-07-16 14:19] tonikitoo commented on #11
Closing as fixed. Tests all pass since PR #121. Particularly, PR #149 has consolidated our access policy implementation.

[2017-07-16 14:19] #11 closed, assigned to tonikitoo

[2017-07-16 14:21] tonikitoo commented on #137
the preliminary first step has landed in ozone-wayland-dev branch, by @msisov. See PR #144.

[2017-07-17 03:58] tonikitoo commented on #152
also reproducible with chrome --mash (chromeos), but not with chrome --mus (chromeos).

[2017-07-17 05:35] tonikitoo commented on #75
msisov: Good to close?

[2017-07-18 12:32] tonikitoo commented on #153
Fixed by PR #154 .

[2017-07-18 12:32] #153 closed, assigned to tonikitoo

[2017-07-18 12:34] tonikitoo opened #155 "Finish implementation of InputMethod service in non-ChromeOS"
We have PR #45, where inputting via keyboard was made minimally functionally, and PR #154, where we switched to "classic IME" in order to have a more complete input method implementation.

This bug tracks finishing the implementation of InputMethod service for non-ChromeOS.

[2017-07-18 12:38] tonikitoo commented on #42
Seems to work ok now.

[2017-07-18 12:38] #42 closed, assigned to nobody

[2017-07-18 13:03] tonikitoo opened #156 "Clean up our bounds-related methods in ws::Display"
::SetBounds
::OnBoundsChanged
::SetBoundsInPixels
::OnViewportMetricsChanged

[2017-07-18 13:05] tonikitoo opened #157 "Make sure chrome/mus process model aligns with the direction upstream is taking"
Comment #7 on issue 722527 by mfomitchev@chromium.org: Move ash and Mus into the same process
https://bugs.chromium.org/p/chromium/issues/detail?id=722527#c7

Mus now runs inside the browser process in Mushrome (i.e. when launched via chrome --mus).

We now need to move Mus inside the Ash process for in Mustash (i.e. in chrome --mash). Ideally we should have the WindowManagerApplication service bu

[2017-07-18 19:16] tonikitoo opened #158 "Chrome/mus can be launched in a "locked up" state under certain circumstances"
Steps:

- launch chrome/mus (linux)
- set "continue from where you left off" from settings
- 0 navigate to any website (e.g. youtube.com).
- close chromium

- launch chrome/mus (chromeos) - it should launch globo.com
- unmaximize, resize and move the window around (internal mode)
- close chrome (and ash)

- launch chrome/mus (linux) again

chrome/mus launches at the position left over previously (

[2017-07-18 19:20] tonikitoo commented on #158
I think I know what is going on .. this has driven me crazy since yesterday.

[2017-07-19 09:44] msisov commented on #147
assigning to myself

[2017-07-19 10:32] msisov commented on #64
Fixed. Reopen if new issues are found.

[2017-07-19 10:32] #64 closed, assigned to tonikitoo, msisov

[2017-07-19 10:35] msisov commented on #75
Fixed. Reopen if new issues are found.

[2017-07-19 10:35] #75 closed, assigned to msisov

[2017-07-20 10:48] msisov commented on #147
working on it

[2017-07-21 13:36] tonikitoo commented on #158
Fixed by #159.

[2017-07-21 13:36] #158 closed, assigned to tonikitoo

[2017-07-25 13:24] kov opened #161 "Possible race in creation / parenting of windows"
While working with CEF on top of this codebase we are hitting a race where WindowTree::AddWindow is sometimes reached before the root window is known (i.e. WindowTree::AddRoot has been called), so it hits the 'no parent' error case there and then the inflight change crashes it.

Have you seen this behaviour yet? I believe it might not happen in chrome - we have been testing using cefsimple - due t

[2017-07-26 10:55] msisov commented on #137
closing this. Will open new issue if regressions found. At the moment, there is only one regression - https://github.com/Igalia/chromium/issues/147

[2017-07-26 10:55] #137 closed, assigned to msisov

[2017-07-26 11:00] msisov opened #162 "Use last saved window bounds on repeated start up of the browser in Chrome/Mus Linux"
1) Open browser
2) Resize it and move to some other place.
3) Close it.
4) Open it.

After 4th step, bounds of the browser window must be the same as they has been before close.

But one interesting thing happens if a user opens Chrome/Mus for ChromeOS, resizes it and then closes the window. After that he/she opens Chrome/Mus for Linux and the bounds of the window are completely the same as they h

[2017-07-28 10:43] msisov commented on #126
I was told that Japanese layout has some problems as well. For example, it is not possible to enter certain symbols, which require "shift" key to be pressed and hold. For example, "shift" key + a certain key (depends on the layout), which produces ":" symbol.

[2017-07-28 14:13] tonikitoo opened #166 "mouse cursor offsets its position when changing type"
hover the mouse cursor around some content with regular text and links. it is visible to see that the mouse position slightly changes while the mouse type changes.

[2017-07-28 14:14] tonikitoo commented on #166
chromeos/mash also presents the same behavior. chromeos/mus does not.

the mouse cursor path used in both configurations is different.

[2017-07-28 15:14] tonikitoo opened #167 "medias on twitter do not play"
132 bool FFmpegGlue::OpenContext() {
133   DCHECK(!open_called_) << "OpenContext() shouldn't be called twice.";
134
135   // If avformat_open_input() is called we have to take a slightly different
136   // destruction path to avoid double frees.
137   open_called_ = true;
138
139   // Pass "advanced_editlist=0" in the demuxer options.
140   // TODO(jrummell): Remove this when we support post-decod

[2017-07-28 15:15] tonikitoo commented on #167
also reproducible on chromeos/mash and chromeos/mus

[2017-07-31 04:24] tonikitoo commented on #161
I believe to have seen this bug while testing locally:

$ out/ozone/linux_os/chrome --mus --ozone-platform=x11 --user-data-dir=~/tmpp000-------aasdfadsfkaa  --use-gl=egl
[38919:38924:0731/002132.399825:482942549117:INFO:service_process_launcher.cc(197)] Launched child process pid=38926, instance=, name=ui, user_id=2d4d86a8-372c-4cca-847a-4295ae33f0b3
[38919:38924:0731/002132.400925:482942550213:IN

[2017-07-31 12:14] kov commented on #161
Yep! That's the one.

[2017-07-31 16:06] tonikitoo commented on #161
I think I know what is going one with this bug:

I have a more recurring situation with Chromium/Mus: it is indeed a problem that we saw with the refactor branch and services_unittests, PR #141: messages reaching the WS out of order, because they were sent through different mojo pipes.

log of when it succeeds:

WindowTree::NewWindow:1516 client_id:65545
	WindowTree::NewWindow:505 client_id:65545

[2017-08-03 10:33] msisov commented on #162
fixed by https://github.com/Igalia/chromium/pull/163

[2017-08-03 10:33] #162 closed, assigned to msisov

[2017-08-04 04:40] tonikitoo commented on #161
Solution up for review: https://github.com/Igalia/chromium/pull/174.

[2017-08-04 07:52] msisov commented on #39
Fixed by https://github.com/Igalia/chromium/pull/169.

ws::ServerWindow, ws::Display and other associated windows are destroyed now. I think that's it. Closing.

[2017-08-04 07:52] #39 closed, assigned to nobody

[2017-08-04 07:53] msisov commented on #66
Fixed by https://github.com/Igalia/chromium/pull/169

[2017-08-04 07:53] #66 closed, assigned to tonikitoo

[2017-08-04 09:21] msisov commented on #63
I guess it's not relevant anymore, right?

[2017-08-04 10:25] msisov commented on #51
Looks like base_unittests are no longer fail. Closing then.

[2017-08-04 10:25] #51 closed, assigned to nobody

[2017-08-04 10:27] msisov commented on #99
fixed. PR: https://github.com/Igalia/chromium/pull/103

[2017-08-04 10:28] msisov commented on #100
I have a patch locally. Once it's tested, I'll make a PR.

[2017-08-04 14:42] tonikitoo commented on #152
Should be fixed by PR #168 .

[2017-08-04 14:42] #152 closed, assigned to tonikitoo

[2017-08-04 14:43] tonikitoo commented on #152
Upstream work to be continued here: https://chromium-review.googlesource.com/c/593868/

[2017-08-07 14:22] tonikitoo commented on #161
Should be fixed by PR #174 .

[2017-08-07 14:22] #161 closed, assigned to tonikitoo

[2017-08-08 11:10] #99 closed, assigned to msisov

[2017-08-08 11:10] msisov commented on #99
https://chromium-review.googlesource.com/c/604797

[2017-08-08 11:22] msisov commented on #100
PR: https://github.com/Igalia/chromium/pull/177

[2017-08-10 11:01] msisov opened #179 "FATAL:latency_tracker.cc(196)] Check failed: gpu_swap_begin_component.last_event_time >= original_component.first_event_time (42321552294 bogo-microseconds vs. 3419125241000 bogo-microseconds)"
The issue happens only with Wayland backend.

How to reproduce:
1) Start chromium/wayland with a new profile (--user-data-dir=/tmp/empty-profile)
2) Load riot.igalia.com
3) Start typing anything to "username" field.
4) Observe the crash.

[23139:23139:0810/135831.606993:42321552530:FATAL:latency_tracker.cc(196)] Check failed: gpu_swap_begin_component.last_event_time >= original_component.first_eve

[2017-08-11 11:52] tonikitoo opened #181 "Regression: chrome/mus window starts inactive."
This is due to PR #168 , that changed the default visibility of DesktopWindowTreeHostMus::window_ at the time ::Init is called. This visibility set earlier as it is causes unexpected activation and focus changes on aura::Window and also chromeos/mash|mus unittest failures.

[2017-08-11 12:30] tonikitoo commented on #181
fixed by PR #182

[2017-08-11 12:30] #181 closed, assigned to tonikitoo

[2017-08-14 11:55] tonikitoo commented on #157
looking at this

[2017-08-15 03:46] tonikitoo commented on #157
Upstream take: https://chromium-review.googlesource.com/c/614522
Downstream take: https://github.com/tonikitoo/chromium/commits/ozone-wayland-dev-issue-157

[2017-08-15 13:39] tonikitoo opened #185 "Drag events are occasionally dropped (mouse/touch)"
It happens occasionally that dragging isn't visible to the user 'till he/she releases the button.

Scenarios:
- dragging scrollbars with mouse
- text selection with mouse

[2017-08-15 13:39] tonikitoo commented on #185
will give this a quick check

[2017-08-15 16:26] tonikitoo commented on #185
up for review: https://github.com/Igalia/chromium/pull/187

[2017-08-15 19:16] tonikitoo opened #189 "after dragging a window, events target the wrong ServerWindow"
Steps:

Load a scrollable content, and scroll it with move wheels (it should work).
Drag the window (title bar) and move it around.
Place the mouse on top of the web content again. and try to scroll with mouse wheels again.
Nothing happens.

User needs to click on the web content so that it grabs focus(?) and take events again.

Happens with both ozone x11 and wayland.

[2017-08-15 19:16] tonikitoo commented on #189
Having a look

[2017-08-16 11:15] msisov commented on #179
Doesn't seem to be reproducible after the latest rebasing.

[2017-08-16 11:16] msisov commented on #147
Only reproducible in Weston. No issues are found with Gnome on Wayland

[2017-08-16 11:42] tonikitoo commented on #185
Fixed by PR #187 .

[2017-08-16 11:42] #185 closed, assigned to tonikitoo

[2017-08-17 19:39] tonikitoo commented on #157
Fixed.
Now chrome/mus --mus launches the UI service as a thread within the browser process, similarly to chromeos/mus.

[2017-08-17 19:39] #157 closed, assigned to tonikitoo

[2017-08-17 20:20] tonikitoo opened #193 "[ozone/wayland] control+click to open links in new tab does not work"
SSIA

[2017-08-17 20:22] tonikitoo opened #194 "[ozone/wayland] cursors types do not update"
SSIA

[2017-08-18 11:19] msisov opened #195 "[ozone/wayland] Handle Configure events and call SetWindowGeometry with negotiated size"
Clients should call *_set_window_geometry with desired window size once wayland sends a configure event with negotiated width and height or those set to 0, which means a request for desired size.

[2017-08-18 12:41] msisov opened #201 "[ozone/wayland] Fix showing 3dot menu with wayland touch events"
WaylandWindow usually fails to get parent window on touch events and crashes.

[2017-08-18 14:27] tonikitoo opened #202 "FATAL:render_frame_host_impl.cc(2594)] Check failed: GetSuddenTerminationDisablerState(disabler_type) != present (1 vs. 1)"
I get this crash on chrome/mus when recovering a tab (by RELOAD) after a preliminary crash (say in blink or cc).
This is a common scenario to me, since we run developer snapshots (dev channel), with DCHECKs enabled.

Steps:
- Get a crash in blink (skeleton icon shows)
- RELOAD the tab manually
- boom

30445:30445:0818/101717.936977:FATAL:render_frame_host_impl.cc(2594)] Check failed: GetSuddenTerm

[2017-08-18 14:29] tonikitoo opened #203 "FATAL:in_flight_change.cc(104)] Check failed: false."
This assert happens randomly:

[32114:32114:0818/102708.024602:ERROR:in_flight_change.cc(103)] change failed, type=11
[32114:32114:0818/102708.024637:FATAL:in_flight_change.cc(104)] Check failed: false.
#0 0x55a1e5913797 base::debug::StackTrace::StackTrace()
#1 0x55a1e592d191 logging::LogMessage::~LogMessage()
#2 0x55a1e6ba3dfb aura::CrashInFlightChange::ChangeFailed()
#3 0x55a1e6b8d785 aura::Wind

[2017-08-21 13:17] tonikitoo commented on #189
Fixed by PR #204.

[2017-08-21 13:17] #189 closed, assigned to tonikitoo

[2017-08-21 16:07] tonikitoo commented on #202
For the record, this is an upstream bug https://bugs.chromium.org/p/chromium/issues/detail?id=754515

[2017-08-21 20:07] tonikitoo commented on #108
Back to give this a quick try.

[2017-08-21 20:19] tonikitoo commented on #65
Good to close?

[2017-08-22 06:08] msisov commented on #65
Yep, closing. Hovering works now.

[2017-08-22 06:08] #65 closed, assigned to msisov

[2017-08-22 12:21] msisov commented on #201
https://github.com/Igalia/chromium/pull/207

[2017-08-22 13:19] #108 closed, assigned to tonikitoo

[2017-08-23 01:57] tonikitoo opened #208 "[ozone/wayland] does not start after Aug/21 rebase"
ERROR:gl_surface_egl.cc(441)] No suitable EGL configs found.
    ERROR:gl_surface_egl.cc(1147)] eglCreatePbufferSurface failed with error EGL_BAD_CONFIG
    ERROR:gpu_info_collector.cc(41)] gl::GLContext::CreateOffscreenGLSurface failed
    ERROR:gpu_info_collector.cc(115)] Could not create surface for info collection.
    ERROR:gpu_init.cc(100)] gpu::CollectGraphicsInfo failed (fatal).

[2017-08-23 12:58] tonikitoo commented on #208
Fixed downstream. Upstream track https://chromium-review.googlesource.com/c/chromium/src/+/628776

[2017-08-23 12:58] #208 closed, assigned to tonikitoo

[2017-08-23 20:53] tonikitoo opened #210 "FATAL:window_finder_ozone.cc(15)] Check failed: false. - when dragging tabs."
FATAL:window_finder_ozone.cc(15)] Check failed: false. For Ozone builds, only --mash launch is supported for now.
#0 0x55fb6a984fb7 base::debug::StackTrace::StackTrace()
#1 0x55fb6a99e941 logging::LogMessage::~LogMessage()
#2 0x55fb6caf7130 WindowFinder::GetLocalProcessWindowAtPoint()
#3 0x55fb6cad5d79 TabDragController::GetLocalProcessWindow()
#4 0x55fb6cad41f8 TabDragController::GetTargetTabStri

[2017-08-23 20:54] tonikitoo commented on #210
having a look at this one.

[2017-08-24 12:44] tonikitoo commented on #210
Fixed with PR #211. Will track upstream next.

[2017-08-24 12:44] #210 closed, assigned to tonikitoo

[2017-08-24 14:41] tonikitoo commented on #113
I believe Maksim has fixed it.

[2017-08-24 14:41] #113 closed, assigned to nobody

[2017-08-24 14:51] tonikitoo opened #212 "[ozone/wayland] occasional never ending wait at start up"
it happens from time to time that upon entering the chrome --mus --ozone-platform=wayland command, it gets stuck, and chrome does not lunch.

no renderer process is able to start, apparently because browser process is stuck. Here are the process spectrum, when it happens:

$ ps aux  | grep \/out\/ozone\/linux
* tonikitoo  2715  0.6  0.5 793956 80432 pts/4    Sl+  10:45   0:00
<dir>/chromium/src/ou

[2017-08-24 16:05] tonikitoo commented on #210
upstreaming tracked here: https://chromium-review.googlesource.com/c/chromium/src/+/633218

[2017-08-24 19:23] tonikitoo commented on #179
for me it seems reproducible on weston only (ubuntu 17.04) upon any mouse wheel event.

[2017-08-24 19:23] tonikitoo commented on #194
I started on working on it today.

[2017-08-25 02:14] tonikitoo commented on #202
The upstream bug was fixed: https://chromium-review.googlesource.com/630243, we will get the fix on the next rebase round.

[2017-08-25 02:14] #202 closed, assigned to nobody

[2017-08-25 03:44] andrunko opened #214 "Issue with touch events being dispatched to the wrong target"
As discussed on IRC, opening this issue here to discuss an issue we are seeing in a not so old fork of the ozone-wayland-dev branch that is causing a crash when a touch sequence is dispatched to the wrong target window.

In summary, the issue happens when chromium receives 2 touch sequences for different surfaces, with each sequence being handled by a different WindowManagerState object, but then

[2017-08-25 15:13] tonikitoo commented on #214
possible related upstream CL: https://chromium-review.googlesource.com/c/chromium/src/+/634638

[2017-08-25 16:43] ganguin commented on #193
same for me.

Actually for me, Shift, Ctrl, and alt do not work at all, for example:
# ctrl+t or +n +w +q do not work
# shift+anything does not capitaliye

Is it the same issue_

[2017-08-28 19:12] msisov opened #215 "Notifications fail: ERROR:in_flight_change.cc(103)] change failed, type=11"
Notifications fail both in x11 and wayland.

how to reproduce:
1) open riot and enable notifications
2) ask someone to write something or write to our bot a private message, which it can answer
3) switch to another tab and then to another window.
4) once notification comes, chromium crashes

[33683:33683:0828/220821.857606:ERROR:in_flight_change.cc(103)] change failed, type=11
[33683:33683:0828/22

[2017-08-29 13:17] #201 closed, assigned to msisov

[2017-08-29 13:17] msisov commented on #195
fixed by #196

[2017-08-29 13:17] #195 closed, assigned to msisov

[2017-08-29 13:19] msisov commented on #100
PR: #199

[2017-08-29 13:23] msisov commented on #193
taking this issue

[2017-08-30 11:35] msisov opened #219 "OpaqueView's buttons are not updated"
Sometimes ImageButtons, which are located in OpaqueView, are not update when maximize or unmaximize is triggered. That leads to out-dated view and glitches.

The issue is observable in weston.

[2017-09-01 02:29] Gyuyoung opened #221 "Crash happens when scrolling a webpage down using a touch pad"
After launching a Chrome on ozone-wayland-dev branch, I faced a crash when I scroll a webpage down.
If I have the crash because of wrong configuration or setting, please close this issue.

I've been using this configuration.

============================================
is_debug = false
is_component_build = false
symbol_level = 1
dcheck_always_on = true

use_ozone = true
ozone_platform_wayland = t

[2017-09-01 03:29] tonikitoo commented on #221
Thank you for reporting. Same as issue #179 .

[2017-09-01 03:29] #221 closed, assigned to nobody

[2017-09-05 12:57] tonikitoo opened #222 "deploy 01/Sept/2017 rebase"
https://chromium-review.googlesource.com/c/chromium/src/+/617378 has caused need for various minor changes on our side.

[2017-09-05 13:05] tonikitoo commented on #222
Done.

[2017-09-05 13:05] #222 closed, assigned to tonikitoo

[2017-09-06 12:34] tonikitoo opened #224 "[ozone/wayland] Crash when starting chromium/wayland with --start-fullscreen"
ozone/x11 works fine.

[2017-09-06 13:37] tonikitoo opened #225 "Crash when right-clicking on the window decoration area"
On chrome/x11, right-clicking on the window decoration bar toggles a context menu whose one of the menu items allows one to switch between builtin and system/native window decoration.

chrome/ozone does not support using system's window decoration, so we should forbid this option altogether.

There is a linux && !chromeos preference [1][2], that maybe we should change to linux && use_x11, but for

[2017-09-06 17:55] #194 closed, assigned to tonikitoo

[2017-09-06 18:34] #225 closed, assigned to tonikitoo

[2017-09-06 18:35] #179 closed, assigned to tonikitoo

[2017-09-07 10:41] jaragunde commented on #224
Maybe related, I notice a strange behavior when using F11 to go fullscreen on a weston session. It will go through several states when you press it multiple times:
* complete fullscreen of the web contents
* fullscreen browser with visible chrome
* fullscreen content again, with hidden chrome
* fullscreen content with hidden chrome but visible weston top bar
* windowed mode

The following message

[2017-09-11 15:16] tonikitoo opened #229 "clicking on the window decoration does not activate the window"
on the latests rebases (not the latest one), clicking on the (builtin) window decoration area does not activate properly activates it.

steps:
1- launch chrome/mus
2- create a second window (e.g. control+n)
2.1 click on the window decoration area to switch focus to the other window
OR
2.2 use alt-tab to switch focus to the other window.

Current outcome: host window manager brings the other window

[2017-09-11 15:18] tonikitoo commented on #224
I believe this is the way chromium toggles fullscreen. maybe on embedded HW these steps are processed slower, and then more visible to the user?

is that something also noticeable on chrome/mus on desktop?

[2017-09-12 11:47] msisov opened #230 "Regression: menus are not hidden."
Menu are not being hidden once a user clicks outside menu areas. This happens only in Wayland.

As regards X11, menus are not hidden once a user clicks outside browser window with menus opened.

[2017-09-12 16:04] ammen99 opened #232 "Progress of the project? Any idea on when nightly binaries will be available?"
In one of the blogs you said that you plan on releasing nightly binaries, however there has been some time since then. Do you have an idea if(and when) this will happen? Any milestones that should be reached till then? Anyway, this is a great effort, keep up the good work!

[2017-09-12 20:11] tonikitoo commented on #232
A bit of taste of the progresses can be seen here: https://www.youtube.com/watch?v=bPK966yHQM4 . This is the very latest Chromium/Wayland on Fedora 26 (GNOME/Wayand).

Doing packaging for distribution at this point is a bit more troublesome for us, but not impossible. I explain:

- as per our "rebase strategy" (see README in https://github.com/Igalia/chromium/), we rebase against Chromium tip of t

[2017-09-13 06:25] msisov commented on #230
https://github.com/Igalia/chromium/pull/231 is fixing wayland.

[2017-09-13 07:17] msisov commented on #219
fixed by https://github.com/Igalia/chromium/pull/220

[2017-09-13 07:17] #219 closed, assigned to msisov

[2017-09-13 17:19] ammen99 opened #233 "Chrome fails to start because of failure when setting XKB keyboard mapping"
Simply built with only ozone_wayland backend, NaCl disabled, without debug symbols, but it cannot run:
[code]

PS: Do you need such bugs reported? Or as you said in the other issue, the project is still not ready so now bug reports?

[2017-09-13 17:57] jaragunde opened #234 "Browser stops refreshing until input events are received"
Sometimes, web contents stop refreshing (e.g. if there is an animation, it stops working) until the browser receives some input event, for example, the mouse moves. It also affects to animations in the browser chrome: the animation of the loading spinner next to the tab name may stop too.

I've reproduced this problem on an embedded device (a hardware with a Snapdragon 600 ARM CPU), and always wit

[2017-09-13 18:01] jaragunde opened #235 "Startup crash"
Sometimes I get a crash like below on startup when running this fork on a Snapdragon 600 powered board. The browser stays still in the command line for some seconds (no window is shown), then the segfault message appears:
[code]

Oddly enough, it happens more often on first boot.

[2017-09-13 18:04] jaragunde commented on #234
WebGL content doesn't seem to have this problem. CSS animations, [like this](https://webkit.org/blog-files/3d-transforms/poster-circle.html), have the problem, they stop working after a few seconds and resume when you move the mouse.

[2017-09-13 18:10] tonikitoo commented on #233
Please report bugs :+1:. We will triage them all, and prioritize accordingly. All bugs / testers matter :)

'use_xkbcommon = true' on your GN args should fix this issue.

[2017-09-13 19:01] ammen99 commented on #233
Indeed, this solved the problem, so closing the issue. Now chromium works(albeit slower than usual, which is expected). Maybe this arg should be added to the build instructions?

[2017-09-13 19:01] #233 closed, assigned to nobody

[2017-09-13 19:14] tonikitoo commented on #233
We should add the args to the build instructions, yes.

I will approve a PR request now that you had been brave enough to build it by hand. :)

README.md is the file to change IIRC.

[2017-09-13 19:16] tonikitoo commented on #233
we are running on top of a fast moving target: MUS. Lots of performance are still being worked on by Google itself, and we foress benefiting from them "for free", performance-wise.

However, feel free to report any scenario that is way slower than it should be.

[2017-09-13 19:20] ammen99 commented on #233
Regarding the slowness: almost everything on every site is slower(there is noticeable lag), even new tab opening and loading pages that have no animations. So I don't think there is something specific to report. Anyway, it is a good job :+1: , I'm hopeful in the future you will be able to make it fast & fully functional :smile:

[2017-09-13 19:32] tonikitoo commented on #233
odd, but it came to mind: do you have 'is_debug = false' in your GN flags?

for the record, 'is_debug' defaults to 'true', and indeed make things WAY slower.

[2017-09-13 19:57] msisov commented on #233
You must explicitly set that this is not a debug build as long as gn assumes the debug build is the default one

[2017-09-13 20:02] ammen99 commented on #233
I'll try that now, however it'll take a very long time on my machine as I'll have to rebuild from scratch(and I have a 2C4T processor)

[2017-09-13 21:58] r1mikey commented on #235
I've seen this on an x86-64 board today as well.  It seems to happen 1 out of every 3 or 4 times I start.

[2017-09-14 05:06] tonikitoo commented on #235
are you able to produce debug builds, Michael?

[2017-09-14 06:08] msisov commented on #235
It would be good to have core dumps at least if you are unable to get a build with symbols.

[2017-09-14 10:17] ammen99 commented on #233
Indeed, recompiling without debug makes chrome faster than through XWayland. However, is it normal that the GPU process should crash?

[2017-09-14 10:40] ammen99 commented on #233
Also, after using it for some time all web pages(excluding the new tab page) are blank(white), which is fixed  by deleting the profile directory. However, the issue gets back after a few minutes of usage

[2017-09-14 11:45] msisov commented on #233
Can you provide us with a backtrace of gpu crash?

[2017-09-14 12:46] ammen99 commented on #233
The error was that it was unable to open the libosmesa.so because of missing libc++.so, I installed the corresponding package(I'm using Fedora 26), but now I get the following:
![screenshot-2017-09-14-15 44 58](https://user-images.githubusercontent.com/6287487/30430378-bd75c148-9963-11e7-8024-e6aa69293bea.png)

It is interesting that GL_RENDERER (not visible on the screenshot) is Mesa OffScreen v9

[2017-09-14 12:50] msisov commented on #233
Try to run with --ignore-gpu-blacklist. The gpu might be blacklisted.

[2017-09-14 13:18] ammen99 commented on #233
This indeed makes almost all of these marked as working and resolves blank pages, however the version remains 9.0.3 whereas Xwayland chrome shows mesa 17(which is what is installed on my pc), so chrome still doesn't detect my GPU. Actually, why does the build compile libosmesa by itself, shouldn't this be provided by /lib64 ?

[2017-09-14 13:22] ammen99 commented on #233
What is the default target OS? Is it ChromeOS or the "host" - Linux?

[2017-09-14 13:23] tonikitoo commented on #233
Default is linux. To build chromeos you need to specify "target_os = chromeos" on your GN args.

[2017-09-14 13:28] tonikitoo commented on #233
about:gpu should show GPU rendering is enabled or not. In cause it is not, you get something like this:

![chromium_wayland_sw_rendering](https://user-images.githubusercontent.com/1540420/30432241-07e6f272-992f-11e7-94c8-e764ecdc4a73.png)

[2017-09-14 13:30] ammen99 commented on #233
Yes, it is with --ignore-gpu-blacklist. Otherwise I get blank pages a few minutes after resetting profile. But the drivers' version shouldn't be 9.0.3 in any case, this is ancient mesa, mine is 17.1.7

[2017-09-14 13:31] ammen99 commented on #233
In the previous comment I meant that GPU is used with --ignore-gpu-blacklist

[2017-09-14 13:36] tonikitoo commented on #233
maybe chromium is using its own 'fork' of mesa: //third_party/mesa/README.chromium ?

[2017-09-14 13:38] ammen99 commented on #233
Seems this is the case, but why official builds don't use it? Is there any way to disable it?

[2017-09-14 15:01] Gyuyoung commented on #221
I verified this issue was fixed on latest version! Thx :)

[2017-09-14 17:01] r1mikey commented on #235
I'll see if I can get a debug build up.  My board is a network booted into RAM only, so it might be a bit tight.

[2017-09-15 13:02] msisov commented on #235
Issue #237 might fix this problem. I faced it on aarch64 board today as well and tracked down that a bitmap update was called too early. Let's hope tonikitoo's patch resolves this for you, guys!

[2017-09-15 13:07] msisov commented on #63
fixed.

[2017-09-15 13:07] #63 closed, assigned to tonikitoo

[2017-09-15 13:14] msisov commented on #100
For record: 3-dot menu cannot be opened with touch events on Debian/Gnome with wayland. That's low priority as long as it works well with our current target - weston.

[2017-09-15 17:58] r1mikey commented on #235
I'll give the patch a try, thanks!

I've really struggled to get a meaningful backtrace out of Chromium on my board.  What I've got keeps crashing the debugger!

[2017-09-16 14:35] tonikitoo opened #239 "Proper plumb about:gpu"
TBD

[2017-09-16 14:58] tonikitoo commented on #233
for completeness, we are not yet properly handling about:gpu, and I believe to have figured what the problem is.

In practice, GPU rendering *is* taking place with chrome/mus (i.e. GPU service run as a thread within the Browser process), but when about:gpu is loaded we try to launch the regular GPU process, which naturally fails in the case of ozone/wayland; in external window mode we do not suppo

[2017-09-16 15:20] tonikitoo commented on #224
@jaragunde, could you please also validate this one after PR #237?

[2017-09-16 15:34] ammen99 commented on #239
Just to make sure I understood, chromium is actually using the proper GPU and drivers, but doesn't report them?

[2017-09-16 15:45] tonikitoo commented on #239
Right @ammen99. I will edit the issue description when I am in front of my PC later.

[2017-09-17 12:20] ammen99 opened #240 "Enter/Backspace don't work upon startup"
On the address bar, enter/backspace keys sometimes do not work. The easiest way to reproduce this is to close all tabs(thus closing chromium), then start it again from the command line and click the address bar. The problem is present every time I do this.

[2017-09-18 08:03] msisov commented on #235
@r1mikey , any updates?

[2017-09-18 11:05] msisov commented on #229
working on it

[2017-09-18 22:05] r1mikey commented on #235
Looks like my code drop (the most recent meta-browser release) is not sufficiently up to date to even apply the patch.

[2017-09-20 05:52] tonikitoo commented on #230
good to close?

[2017-09-20 06:33] msisov commented on #230
https://github.com/Igalia/chromium/pull/241 fixes X11's issue (a menu is not closed when user clicks outside the browser area, but just looses focus).

[2017-09-20 13:09] msisov commented on #230
closing

[2017-09-20 13:09] #230 closed, assigned to msisov

[2017-09-20 13:51] tonikitoo commented on #212
another sync call that happens to block/hang startup:

#0  0x00007f2c5a325c3b in pthread_cond_wait@@GLIBC_2.3.2 () at /lib64/libpthread.so.0
#1  0x0000564be78fb077 in Wait() () at ../../../base/synchronization/condition_variable_posix.cc:71
#2  0x0000564be78a2eb8 in WaitMany() () at ../../../base/synchronization/waitable_event_posix.cc:290
#3  0x0000564beb714638 in Wait() () at ../../../mojo/publi

[2017-09-20 13:53] tonikitoo commented on #235
awaiting for @jaragunde @fred-wang confirmations too, as they seems to have faced incarnations of this issue too (before the fix).

[2017-09-20 14:01] msisov commented on #240
Hi. Can you check again with the latest changes fetched? Should be fixed by #241

[2017-09-20 14:39] michaelolbrich commented on #212
What are the other threads doing? I think I saw an issue like this (at least the first backtrack looks familiar). In my case ``WaylandConnection::OnFileCanReadWithoutBlocking()`` got stuck in ``wl_display_dispatch()`` so the message loop could not process any other pending events.

``wl_display_dispatch()`` can block if the file descriptor is handled elsewhere as well, e.g. somewhere in mesa.

[2017-09-20 14:42] tonikitoo commented on #212
So, we had two nested and blocking calls to Wait(), whereas only one was needed. I have a local fix being tested, that might even allow us to revert PR #242.

[2017-09-20 14:51] michaelolbrich commented on #212
I'd be happy to test a patch as well.

[2017-09-21 17:46] ammen99 commented on #240
Tried to compile today, but ran into issues about libvpx. Will try purging all(including source) and downloading again.

 BTW: how to you make fetch download from this repo? I simply changed one of the prebuilt configs(changed only the source url), is there a better way or something else to be changed.

[2017-09-21 18:52] msisov commented on #240
Fetch code from the upstream (fetch chromium), then do git remote add Igalia {source.git}. Then fetch Igalia, git checkout -b ozone-wayland-dev, git reset —hard Igalia/ozone-Wayland-dev, git pull Igalia ozone-Wayland-dev. And finally gclient sync

[2017-09-21 18:53] msisov commented on #240
I meant git fetch Igalia

[2017-09-22 05:08] ammen99 commented on #240
@msisov  does this work with shallow clones? Doesn't it need to re-download everything when I run git fetch?

[2017-09-22 06:54] msisov commented on #240
@ammen99, I haven't tried with shallow clones. You can skip git fetch part if you've already had a chromium copy. Pull the latest code from our repo and do gclient sync, which fetches all the third party dependancies.

[2017-09-22 12:35] ammen99 commented on #240
@msisov I managed to compile it, problem seems resolved. However, there is another keyboard related problem - there is no key repeating, however I believe this feature isn't implemented yet.

[2017-09-22 12:39] msisov commented on #240
Right, it hasn't been implemented yet as long as we have more important items to be done now.
But patches are welcome!

[2017-09-22 16:52] tonikitoo opened #250 "Crash at shutdown"
#0 0x56220ee1c987 base::debug::StackTrace::StackTrace()
#1 0x56220ee1c45f base::debug::(anonymous namespace)::StackDumpSignalHandler()
#2 0x7f4cf88ff670 <unknown>
#3 0x56220eaf5eb2 ChromeBrowserMainExtraPartsMetrics::~ChromeBrowserMainExtraPartsMetrics()
#4 0x56220ed1cc88 ChromeBrowserMainParts::~ChromeBrowserMainParts()
#5 0x56220ec0dec9 ChromeBrowserMainPartsLinux::~ChromeBrowserMainPartsLinux()

[2017-09-26 13:36] tonikitoo commented on #224
I can not reproduce this crash, @jaragunde: please reopen if you see this happening again.

[2017-09-26 13:36] #224 closed, assigned to nobody

[2017-09-26 13:44] tonikitoo commented on #240
Fixed by @msisov in PR #241. Closing.

[2017-09-26 13:44] #240 closed, assigned to msisov

[2017-09-26 13:45] tonikitoo commented on #235
Should be fixed by PR #237. Closing.

Please reopening if it is happens in latest 'ozone-wayland-dev' branch.

[2017-09-26 13:45] #235 closed, assigned to tonikitoo

[2017-09-26 13:52] tonikitoo commented on #212
I am closing the issue. Please reopen if one sees it happening with the latest 'ozone-wayland-dev' branch. Summary:

- PR #242 is merged;
- PR #245 got rotted and closed (accidentally); then PR #253 was opened/merged instead.
- PR #252 got merged but we decided to revert it, because of some unforeseen regressions (PR #254).
- PR #255 finally fixed the sporadic startup hang.

[2017-09-26 13:52] #212 closed, assigned to tonikitoo

[2017-09-26 13:54] tonikitoo commented on #229
Fixed by @msisov in PR #241.

[2017-09-26 13:54] #229 closed, assigned to msisov

[2017-09-26 14:05] tonikitoo commented on #250
Although the original crash is fixed by PR #251, we have another recurring at shut down (closing a window with control+w).

[2017-09-27 13:11] msisov commented on #147
Lowering the priority of this issue. It's hard to track the roots of that. All the possible blocks from chromium side are checked (wl_display_dispatch, wl_display_flush, eglBuffersSwap and etc). Seems like a problem with mesa drivers???? From wayland debug I can see that wl_drm buffer is created and wl_surface is committed, but then nothing happens. And as soon as I move the mouse, server sends po

[2017-09-28 08:52] msisov commented on #232
Hi, we rebased our patches against beta 62.0.3202.29 release - https://github.com/Igalia/chromium/tree/ozone-wayland-beta-62.0.3202.29-release .

In theory, it should be a bit more stable. You can try to use it and report us how it goes.

[2017-09-28 11:02] msisov opened #257 "Check failed: !latency.coalesced() while using touchscreen in Wayland and X11"
The stack trace is the following -

[31563:31589:0928/135435.065324:FATAL:latency_tracker.cc(136)] Check failed: !latency.coalesced().
#0 0x7f6c1d91ff67 base::debug::StackTrace::StackTrace()
#1 0x7f6c1d9471d1 logging::LogMessage::~LogMessage()
#2 0x7f6c13bc080c ui::LatencyTracker::ComputeEndToEndLatencyHistograms()
#3 0x7f6c13bc02b7 ui::LatencyTracker::OnGpuSwapBuffersCompleted()
#4 0x7f6c13b8b3f5

[2017-09-28 19:58] tonikitoo commented on #250
Ok, this seems to work alright on the latest 'ozone-wayland-dev' branch. Closing.

[2017-09-28 19:58] #250 closed, assigned to tonikitoo

[2017-09-29 05:51] ammen99 opened #258 "Sign in to chromium doesn't work"
Try the following: click on the sign-in to chromium(top right, next to minimize/close buttons). A "pop-up" shows, there is the semicircle which indicates loading, but then the pop-up remains blank and only a "X" for closing it is visible, see the picture below:
![screenshot-2017-09-29-08 46 44](https://user-images.githubusercontent.com/6287487/31002411-4d237804-a4f3-11e7-9511-cbb1e2537d05.png)

ED

[2017-09-29 07:41] ammen99 commented on #232
@msisov  I used the beta a bit, didn't get any crashes or similar, except the issues we already know of!

[2017-09-29 07:56] msisov commented on #257
After investigation, it looks like we've regressed due to some work being done in upstream. Let's see what the next rebasing brings us.

[2017-09-29 08:11] ammen99 opened #259 "Hiding cursor doesn't work"
To reproduce: open a youtube video, hover the mouse over it. The pointer should get hidden after a few seconds. However, under weston it becomes a black square and under gnome it doesn't hide at all(possibly gnome keeps the last "good" pointer surface). This happens in like 95% of the cases(in weston from time to time it works, but as I said, seldom). Is this a bug in chromium or in the compositor

[2017-09-29 08:23] msisov commented on #259
What weston version do you use?

[2017-09-29 08:24] msisov commented on #259
It looks to be working with X11, but wayland is buggy.

[2017-09-29 08:37] ammen99 commented on #259
I tried with weston 2.00, 3.00 and latest git, Gnome 3.24.3

[2017-09-29 13:37] tonikitoo commented on #232
Closing in favor of specific bugs (that we, yourself included, are filing).

[2017-09-29 13:37] #232 closed, assigned to nobody

[2017-10-03 16:37] tonikitoo opened #260 "Fix task manager on chrome/mus"
3-dot menu
More tools
Task manager

it creates a window without the proper decoration (which might be expected)
window seems not to have the proper size either.

[2017-10-03 17:32] msisov opened #261 "Analyze and reduce cpu usage"

[2017-10-03 17:33] msisov commented on #258
Upstream bug. Should be fixed soon

[2017-10-04 15:19] tonikitoo commented on #260
more notes: in chromeos/mus builds, the window gets builtin window decoration, where it goes not for chrome/mus.

I will have a look at this one.

[2017-10-04 16:06] tonikitoo commented on #167
it turns out that this also does not work on stock chromium/x11/fedora, whereas it works on chrome/fedora. So the suspicious what was it ought the case of be proprietary codecs that one (chrome) installs the other doesn't (chromium).

That said, after some GN build tweaks, I could get chrome/mus being able to play twitter medias, and more generally H264, mp4 medias, etc.

I will add to the our HOW

[2017-10-05 15:16] tonikitoo opened #262 "[ozone/wayland] Capture is not reset after dragging chrome window"
create two chrome/mus windows, and load some scrollable content on each.
drag one the window away from the other
do some mouse wheels scrolling with in the focused window (it works!)
move mouse hover the unfocused window, and try to scroll with wheels (it scrolls the focused window).

This is because capture isnt being properly reset after dragging the window (via window decoration dragging).

[2017-10-10 13:28] tonikitoo opened #264 "dragging a tab outside does not create outer windows"
we can drag tabs and change their position in the tabstrip, within the same chrome window, but not tag it outside the window to create a new one (like stock chrome).

[2017-10-10 13:34] tonikitoo opened #265 "resize glitches"
We discussed with @rjkroege during the WebEngines hackfest possible ways to avoid glitches when resizing an outter (ozone) chrome window.

General idea would be "make surface sync aware of external surface size changes".

This is just a reminder bug since bulk of work should be done upstream.

[2017-10-10 15:25] tonikitoo opened #266 "umbrella bug to track reducing downstream divergence where possible"
We have clean up and other stuff possible to be done in order to diminish our delta against chromium ToT.

This can be an umbrella bug to track such work.

[2017-10-10 18:42] tonikitoo commented on #167
Updated our README.md to reflect the GN args needed.

[2017-10-10 18:42] #167 closed, assigned to tonikitoo

[2017-10-10 19:31] tonikitoo opened #270 "switching from maximize to non-maximize by dragging the window does not update decorations properly"
- put the chrome/mus in maximized state (e.g. by clicking on maximize button on the decoration area).
- drag the window from its decoration area so that the window gets unmaximized.
- window decoration buttons do not always update well, entering a broken state.

[2017-10-10 19:32] tonikitoo commented on #270
assigning to msisov.

[2017-10-11 10:05] msisov commented on #258
Ok, now OOPIF embedding works with mus and the issue is fixed.

For the record:
bug https://bugs.chromium.org/p/chromium/issues/detail?id=758387
cl https://chromium-review.googlesource.com/c/chromium/src/+/673066

[2017-10-11 10:05] #258 closed, assigned to nobody

[2017-10-11 10:09] msisov opened #271 "Sign-in to chromium iFrame window is not clickable."
Open chromium, press on the opaque view on top right side to sign in to chromium. iframe window will open, but mouse events are not sent there.

[2017-10-11 10:29] rjkroege commented on #265
Scheme: when the external platform in external window mode resizes a `PlatformWindow` instance, it needs to allocate a new surface id for the window and communication that to `FrameGenerator` instance of the window tree. I think that this way we could get perfect Wayland resize handling.

[2017-10-11 10:29] rjkroege commented on #265
@tonikitoo do you want to assign this to me?

[2017-10-11 10:38] msisov commented on #265
@rjkroege please feel free to grab the bug! any help is welcomed!

[2017-10-11 14:04] msisov commented on #262
fixed.

[2017-10-11 14:04] #262 closed, assigned to msisov

[2017-10-11 14:04] msisov commented on #264
I guess I'll take this next

[2017-10-12 10:31] msisov commented on #100
Unassigning myself now. If bugs are found, I'll make a note here.

[2017-10-12 12:10] msisov commented on #193
Ok, keyboard modifiers have not been applied in case of wayland.

[2017-10-13 13:51] msisov commented on #270
fixed by #273

[2017-10-13 13:51] #270 closed, assigned to msisov

[2017-10-16 08:10] msisov commented on #125
The commit is no longer needed after https://chromium-review.googlesource.com/c/chromium/src/+/713575 . I checked multiple clicking and never faced any problems.

[2017-10-16 11:47] tonikitoo commented on #125
Yes, I agree it is not needed anymore.

The problem was that it was assumed a 1:1 relationship between WindowTreeClient and WindowTreeHost.

Now it is fixed, the relationship is 1:n.

[2017-10-19 12:41] msisov opened #279 "[TEMP] Revive sandbox with some services once forking with unittests is fixed."
At the moment, we fail to fork while running mus demo and some other unittests with test_ime_driver and mus_demo service involed.

For now, use sandbox type none to make the tests pass again.

Note, before https://chromium-review.googlesource.com/#/c/688484/, we've always forked without sandbox.

#278 is disabling sandboxes in certain services.

[2017-10-26 08:42] msisov opened #280 "[ozone/linux] CursorLocationManager is updated with wrong mouse locations."
That is, ui::ws::CursorLocationManager is updated with wrong mouse locations. Instead of the whole screen locations, it gets the location of a current root native window. This behavior is correct for ChromeOS, where a native window corresponds to a whole screen area, but in case of Linux, it's not true.

[2017-10-31 18:44] tonikitoo commented on #86
Update: this is been actively worked out. Functional solution already in-place.

[2017-11-01 03:53] tonikitoo commented on #265
I believe the issue is not so severe on latest ozone-wayland-dev branch.

I will be pushing one extra guard, to avoid cycling back to the client a bounds the client itself set to the server.

[2017-11-01 04:14] tonikitoo commented on #265
We are not doing any worse than stock chrome/x11. in fact, resizing on ozone/wayland goes really smooth in our ToT.

Closing.

[2017-11-01 04:45] tonikitoo commented on #234
jacobo: could you confirm this with latest ozone-wayland-dev?

[2017-11-01 14:50] tonikitoo commented on #86
Fixed by PR #284.

[2017-11-01 14:50] #86 closed, assigned to tonikitoo

[2017-11-03 21:37] tonikitoo commented on #203
Do not see this for over 2 months. I will close as WORKSFORME.

[2017-11-03 21:37] #203 closed, assigned to nobody

[2017-11-03 21:38] tonikitoo commented on #265
Never mind. It still occurs. Reopening.

[2017-11-03 21:42] tonikitoo opened #289 "[TEMP] Start using chrome.map for chrome/mus/linux builds"
Past https://crrev.com/c//739950 , we started to see one random crashes on ozone/wayland, upon window tear down (menus, main chrome windows, etc).

In other to keep our weekly rebasing policy, we opt'ed out the functionality in https://github.com/Igalia/chromium/commit/9afa37f5e775.

This bug indeed to track the proper solution, so that we do not diverge from stock chrome/x11.

[2017-11-06 12:53] tonikitoo opened #291 "When hovering fast between two elements with tooltips, text is updated, but not position."
Both maksim and I have seen it occasionally happening.

[2017-11-06 13:00] msisov commented on #280
As long as I got a regression with the bug fixed, I assume it has been designed like that on purpose. Closing it then.

[2017-11-06 13:00] #280 closed, assigned to msisov

[2017-11-06 13:56] msisov commented on #264
PR #277

[2017-11-06 19:13] tonikitoo opened #295 "Occasional crash when creating tooltips"
it does not reproduce 100%, but happens from time to time:

[692:726:1106/111445.397904:FATAL:wayland_window.cc(169)] Check failed: parent_window_.
#0 0x557804826c7e base::debug::StackTrace::StackTrace()
#1 0x557804849f71 logging::LogMessage::~LogMessage()
#2 0x5578028c0e62 ui::WaylandWindow::CreateTooltipSubSurface()
#3 0x557809317782 ui::ws::PlatformDisplayDefault::SetNativeWindowState()
#4 0x55

[2017-11-06 19:14] tonikitoo commented on #295
A simple null-check in ::CreateTooltipSubSurface could solve it, but maybe it is worth it to check why this is null. in theory, "pointer enter" event should give us a valid window instance.

[2017-11-06 19:39] tonikitoo opened #296 "[TEMP] Revert "chromeos: make mus provide location in DIP display layout""
This reverts commit 64fde6f7ab6f5e2da77ef4f8f560419537e3af8f.

    Reason: it breaks event dispatch for non-ChromeOS, where
    more than one ws::display is expected to exist (multiple
    windows, 3-dot menu, etc).

commit 64fde6f7ab6f5e2da77ef4f8f560419537e3af8f
Author: Scott Violet <sky@chromium.org>
Date:   Wed Sep 13 18:07:44 2017 +0000

    chromeos: make mus provide location in DIP display

[2017-11-06 19:42] tonikitoo commented on #215
I have not seen this in a while.

WORKSFORME

[2017-11-06 19:42] #215 closed, assigned to nobody

[2017-11-08 13:29] tonikitoo commented on #295
I think I know what is going on:

by the time we hover pointer over something that creates a tooltip, a message is sent from the client (browser/aura) to the server (mus).

it is async, so when mus actually gets the message, and starts the logic that creates a tooltip window, user might have already moved the mouse/pointer off the window bound.

when pointer moves off-window, WaylandWindow::GetPar

[2017-11-08 18:31] tonikitoo opened #299 "[ozone/wayland] restore-from-maximize isn't working well if browser starts maximized"
- start chrome
- maximize it
- close it
- then launch again - it should start maximized
- press restore button

BUG: It disappears (0,0 0x0 bounds)

[2017-11-08 18:46] tonikitoo commented on #295
Fixed by PR #298

[2017-11-08 18:46] #295 closed, assigned to tonikitoo

[2017-11-08 19:04] tonikitoo commented on #260
Task Manager is now functional. We fixed the resize issue with PR #284 (https://github.com/Igalia/chromium/pull/284/commits/0777db9f83480022f12e6b400691f7b34a4182bd), and we now have built-in (still windows-looking light-blue) theme working.

Also PR #275.

[2017-11-08 19:04] #260 closed, assigned to tonikitoo

[2017-11-09 12:42] tonikitoo commented on #296
Fixed by PR #297, we reverted the revert and added an extra fix needed.

[2017-11-09 12:42] #296 closed, assigned to tonikitoo

[2017-11-09 12:48] tonikitoo opened #300 "after move or resize, tooltips do not show ('till clicking on the browser window)"
- load a page with tooltips
- hover over one of them to verify it is shown
- move the browser window by dragging the non-client area at the top
- hover over the same content (to re-shown the tooltip). it does not show. BUG

- Clicking anywhere on the browser window fixes it.

[2017-11-09 19:44] onny opened #301 "Unable to build chromium"
Hey Igalia-team,
first of all thanks for your work! I really would like to test your Wayland patches.
I cloned your git repository, switched inside the chromium directory and run:
[code]
Running
[code]
also doesn't seem to solve the issue :( I guess I missed a step?

Best regards,
Jonas

[2017-11-09 19:47] tonikitoo commented on #301
I believe you need something like this, at the directory parent of your checkour:

$ cd <my chromium checkout>
$ more ../.gclient
solutions = [
  {
    "url": "https://chromium.googlesource.com/chromium/src.git",
    "managed": False,
    "name": "src",
    "deps_file": ".DEPS.git",
    "custom_deps": {},
  },
]

[2017-11-09 19:50] tonikitoo commented on #301
before the gn step (you pasted above), make sure you run

$ build/install-build-deps.sh # to be ran once .. if you are on ubuntu/debian it works best.

$ gclient sync # from within your chromium checkout.

[2017-11-09 19:52] onny commented on #301
Can you post the contents of your ``../.gclient_entries`` file?
Thanks

[2017-11-09 20:07] tonikitoo commented on #301
here it is:

https://gist.github.com/tonikitoo/acd5c858ee0b39acd77dd610b60f57a4

[2017-11-12 15:05] tonikitoo commented on #301
Did it work?

[2017-11-13 06:32] onny commented on #301
Thanks @tonikitoo for the support!
I got it working with these commands:
[code]

[2017-11-13 11:39] tonikitoo commented on #301
thank you.

just one side note: running without xkbcommon crashes at startup for me.

[2017-11-13 14:53] onny commented on #301
Yep for me too, I guess I have to fix this!

[2017-11-13 14:57] tonikitoo commented on #301
Ok, I take it you can use xkbcommon, then. Patches welcomed :)

could you share a bit more your set up / target?

[2017-11-13 14:58] onny commented on #301
Yep of course. I'm trying to get build a package for ArchLinux, see here: https://aur.archlinux.org/packages/chromium-wayland-git
Finally, my aim is to "port" Electron to run on Wayland: https://github.com/electron/electron/issues/10915

[2017-11-13 15:13] tonikitoo opened #303 "[ozone/wayland] be able to run with use_xkbcommon = false"
today it crashes at startup

[10613:10641:1124/133201.189503:FATAL:wayland_keyboard.cc(66)] Check failed: success. Failed to set the XKB keyboard mapping.
#0 0x7f68b0fb5403 base::debug::StackTrace::StackTrace()
#1 0x7f68b0fe798c logging::LogMessage::~LogMessage()
#2 0x7f68aba0685e ui::WaylandKeyboard::Keymap()
#3 0x7f68a362e038 ffi_call_unix64
#4 0x7f68a362da9a ffi_call
#5 0x7f68aba117e0 wl_closur

[2017-11-13 17:50] onny commented on #301
Damn, looks like the debian sysroot doesn't contain xkbcommon:
[code]
So I'm unable to build it yet :(

[2017-11-13 18:09] tonikitoo commented on #301
I see to have it:

$ find build -name xkbcommon.pc
build/linux/debian_stretch_amd64-sysroot/usr/lib/pkgconfig/xkbcommon.pc
build/linux/debian_jessie_amd64-sysroot/usr/lib/pkgconfig/xkbcommon.pc
build/linux/debian_jessie_i386-sysroot/usr/lib/pkgconfig/xkbcommon.pc
build/linux/debian_jessie_arm64-sysroot/usr/lib/pkgconfig/xkbcommon.pc
build/linux/ubuntu_precise_amd64-sysroot/usr/lib/pkgconfig/xkbcom

[2017-11-13 19:03] onny commented on #301
Me too :(
[code]

[2017-11-13 19:12] tonikitoo commented on #301
Interesting. 'pacman' actually triggers a game on my Ubuntu 17.10 box :)

So you are trying build Chromium/Wayland on ArchLinux, and use the prebuilt Debian sysroot (in //build/linux/debian_jessie_amd64-sysroot/), but xkbcommon.pc isn't being picked up from there. Is that it?

Could you paste your GN args? For the record here are mine:

is_debug = false
is_component_build = false
symbol_level = 1

[2017-11-13 20:27] msisov commented on #193
#274 fixed.

The patch is being upstreamed at the moment

[2017-11-13 20:27] msisov commented on #193
https://chromium-review.googlesource.com/c/chromium/src/+/718097/

[2017-11-13 21:08] onny commented on #301
Thanks for the answer. These are my arguments:
[code]

[2017-11-13 21:15] tonikitoo commented on #301
Ok, I think this explains it a bit:

use_system_libxkbcommon=1 does not seem like a valid GN parameter

I believe you would need something similar to what is done by libdrm:

https://cs.chromium.org/search/?q=use_system_libdrm&sq=package:chromium&type=cs

or even better: you might want to disable the builtin sysroot use altogether (which will favor to using your system configurations).

GN: use_sy

[2017-11-14 07:02] msisov commented on #299
Can you please paste your environment here? I can't reproduce it with Gnome/Wayland, Weston and Xwayland.

[2017-11-14 09:27] msisov commented on #123
started - https://chromium-review.googlesource.com/c/chromium/src/+/768709

[2017-11-14 18:07] tonikitoo opened #305 "[TEMP] Revert "Makes WMTestHelper work with mus""
We have temporarily reverted commit https://chromium-review.googlesource.com/c/chromium/src/+/752578 in order to unblock the rebase.

Problem was that this commit touches an interface we had modified locally and changed its original meaning (WindowTreeHostFactory). Now that ChromeOS started to use it for content_shell launch, its original meaning is still needed.

This issue tracks bringing that c

[2017-11-16 22:09] onny commented on #301
Appending ``use_jessie_sysroot=true`` did the trick 👍
But still some errors ...
[code]
Maybe libxkbcommon in jessie is too old or the version is wrong?

**update**: I was able to fix this by editing the file ``ui/ozone/platform/wayland/BUILD.gn`` and changing:
[code]
to
[code]
Now let's see if I can run chromium on wayland :)

[2017-11-17 12:45] tonikitoo commented on #305
Fixed by PR #306.

[2017-11-17 12:45] #305 closed, assigned to tonikitoo

[2017-11-17 14:41] onny commented on #301
As soon as I've got everything up and running, I'll publish my ArchLinux package here: https://aur.archlinux.org/packages/chromium-wayland-git

Thanks @tonikitoo for the support!

[2017-11-17 14:49] tonikitoo commented on #301
@onny what is the status? still seeing undefined references to xkb?

Update: answering myself, I just saw your update above. It builds.

In order to run, <our>/chrome --mus --ozone-platform=wayland should do the trick.

Also, I wonder whether you built the latest 'ozone-wayland-dev' branch? Basically, this is a development snapshot of Chromium Tip of Trunk, which is not a stable release baseline (

[2017-11-17 15:28] tonikitoo commented on #300
working on this one. I believe it also affects cursor type update after window move (by dragging).

[2017-11-17 20:06] tonikitoo commented on #300
Fixed by PR #310.

[2017-11-17 20:06] #300 closed, assigned to tonikitoo

[2017-11-18 01:57] onny commented on #301
The git version is fine for testing purpose. Further, the package I'm working on is labled as a git version.
I installed my chromium-wayland-git package, but can not run it :/
[code]

[2017-11-18 13:59] tonikitoo commented on #301
Ok, I believe you are producing "component builds", where various chromium components build as shared libraries (.so).

For the sake of distribution, I would try with "is_component_build = false" in your GN args (default is 'true').

[2017-11-18 15:23] onny commented on #301
Yep, I forget to package the *.so files. Sorry!
Now if I try to run chrome like this: ``./chrome --mus --ozone-platform=wayland`` I get:
[code]

[2017-11-18 19:43] onny commented on #301
This is my recent package buildscript: https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=chromium-wayland-git
I'm going to recompile it with some changes, let's see if this fixes the bug obove ...

[2017-11-19 11:32] onny commented on #301
Okay building chromium works now. For other issues, I'll open new bug reports. Thanks for the support!

[2017-11-19 11:32] #301 closed, assigned to nobody

[2017-11-19 11:40] onny opened #311 "Failed to initialize Wayland platform"
Hey,
I was able to build chromium from this git repo using my package buildscript on ArchLinux: https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=chromium-wayland-git

If I try to launch chrome like this: ``chromium --mus --ozone-platform=wayland``
I get following error in ``sway``:
[code]
Running it in ``weston`` (3.0.0) the error looks a bit different:
[code]

Best regards,
Jonas

[2017-11-19 16:27] tonikitoo commented on #311
About sway) could you paste the stdout with the following patch applied:

[code]

[2017-11-19 16:28] tonikitoo commented on #311
about weston) could you make sure in your GN args, you replaced

[code]
by
[code]

[2017-11-19 16:28] tonikitoo commented on #311
I think we are close .. :)

[2017-11-20 06:19] onny commented on #311
I get w warning while using ``enable_mus=true`` (and removing enable_package_mash_services=true) but it still compiles fine:
[code]
In sway, running ``chromium --mus --ozone-platform=wayland`` with patch applied:
[code]
In Weston, it looks like this:
[code]

[2017-11-20 07:13] msisov commented on #311
Hi @onny, enable_mus=true won't work for you, because it was added last Monday just a week ago. You still have to use  enable_package_mash_services=true. Can you recompile with that parameter again and try with Weston? Don't forget to pass --mus flag when running Chromium.

As per another log, hard to say.  The shell initialization looks OK. But I have a concern about
Bad NaCl helper startup ack (

[2017-11-20 11:55] tonikitoo commented on #311
if you are on IRC, please jump in Freenode , 'ozone-wayland' channel.

[2017-11-20 12:31] msisov commented on #193
The patch has been merged in the upstream. closing

[2017-11-20 12:31] #193 closed, assigned to msisov

[2017-11-20 13:24] onny commented on #311
@msisov: I'm always compiling the latest version from git master, so this feature should be already present?
I'll try to get rid of the Bad NaCI error 👍

[2017-11-20 13:29] msisov commented on #311
@onny, you must use ozone-wayland-dev, not master. From the warning message, I can see you use 2 rebases old branch :)

[2017-11-20 13:41] onny commented on #311
Oh I see alright, I'll check out ozone-wayland-dev and recompile :)

[2017-11-20 14:52] onny commented on #311
After switching the branch to ``ozone-wayland-dev`` the command ``gclient runhooks`` fails:
[code]

**update:** sorry, this one is fixed by updating depot_tools

[2017-11-20 15:13] tonikitoo commented on #311
:+1:

[2017-11-21 06:45] onny commented on #311
It's fixed :) Thanks for the support!
![2017-11-21-074151_swaygrab](https://user-images.githubusercontent.com/757752/33058405-d6c91080-ce8f-11e7-9b11-e41e2f5575c8.png)

[2017-11-21 06:45] #311 closed, assigned to tonikitoo

[2017-11-21 12:27] tonikitoo commented on #311
Nice!

That title bar on top of Chromium's builtin decoration area looks odd, but that is another problem :)

[2017-11-21 13:45] tonikitoo commented on #299
I am using gnone/wayland (ubuntu 17.10).

Steps I used

- launch chrome --mus normally.
- use SHIFT+ESC to launch "Task Manager"
- Maximize the "Task Manager" window (clicking on the maximize button)
- switch focus back to Chrome, and close the browser (the Task Manager window will also close by itself).
- relaunch chrome
- SHIFT+ESC to launch "Task Manager" again. It should start maximized, as pe

[2017-11-21 13:54] tonikitoo opened #314 "[ozone/wayland] Cursor still are still flaky after interacting with the decoration area (resize/drag)"
- Drag the Chrome/Mus window by interacting with decoration area.
- hover the mouse around to the edge of the window (so that cursor type changes to resize up/down/left/right).

Bug: it is difficult.

[2017-11-21 13:54] tonikitoo commented on #314
Investigating this one. This is the last bug that bothers me about cursor types.

[2017-11-22 11:44] msisov commented on #299
Nope, it works OK for me.

[2017-11-22 12:59] msisov commented on #279
This happens only with debian based machines for some reason. No idea how to fix it. Maybe related to kernel configuration... though, I have user namespace sandboxing enabled.

[2017-11-22 18:14] tonikitoo commented on #314
Fixed by PR #315.

[2017-11-22 18:14] #314 closed, assigned to tonikitoo

[2017-11-22 18:15] tonikitoo opened #317 "[ozone/wayland] cursors are not always updated when entering the browser window."
- launch chrome
- make the window non-maximized
(start moving the mouse around the browser window to make sure cursor type updates)
- place the mouse at one of the edges of the window bound, so that its type changes to resize
- now move the mouse out of the chrome window bound, passing through the bound it change changed cursor type for.
- slowly reenter the mouse through the same window bound.

B

[2017-11-22 18:18] msisov opened #318 "Events are sent to wrong aura window when new window is created"
1) Open a new window.
2) Click on 3-dot menu.
3) Click New Window.
4) Try to scroll the previous window -> events are not passed and scrolling doesn't work.

[2017-11-22 18:37] tonikitoo commented on #317
Updated description. Tackling this a little.

[2017-11-23 13:57] msisov commented on #318
Fixed by #319

[2017-11-23 13:57] #318 closed, assigned to msisov

[2017-11-23 14:39] tonikitoo commented on #317
Fixed by PR #320 .

[2017-11-23 14:39] #317 closed, assigned to tonikitoo

[2017-11-23 16:09] tonikitoo commented on #166
checking this a little.

[2017-11-24 11:51] msisov commented on #303
PR #321

[2017-11-24 13:13] msisov commented on #289
Received signal 11 SEGV_MAPERR 000000000000
#0 0x55d091f4e7f3 base::debug::(anonymous namespace)::StackDumpSignalHandler()
#1 0x7ffb721ac150 <unknown>
#2 0x7ffb553ec4dc <unknown>
#3 0x7ffb553eb7ac <unknown>
#4 0x7ffb553e956b <unknown>
#5 0x7ffb553e9a49 <unknown>
#6 0x7ffb5643a193 <unknown>
#7 0x7ffb5642caee <unknown>
#8 0x55d092c30488 gl::NativeViewGLSurfaceEGL::SwapBuffers()
#9 0x55d092c1e321 gl:

[2017-11-24 13:13] msisov commented on #289
The issue is not reproducible in Debian builds, but in Ubuntu ones.

[2017-11-27 10:02] msisov commented on #123
upstreamed

[2017-11-27 10:02] #123 closed, assigned to msisov

[2017-11-27 15:04] msisov opened #325 "Enable browser, content tests and unit_tests in our bot."
I think we must try to enable content and browser tests in mus.

https://bugs.chromium.org/p/chromium/issues/detail?id=776513
https://bugs.chromium.org/p/chromium/issues/detail?id=678687 - mash related. This should be checked whether it concerns mus or not.
https://bugs.chromium.org/p/chromium/issues/detail?id=755328

 https://bugs.chromium.org/p/chromium/issues/detail?id=776514

There can be othe

[2017-11-27 17:37] tonikitoo commented on #279
upstream bug by tsepez: https://bugs.chromium.org/p/chromium/issues/detail?id=788778

[2017-11-28 07:40] msisov opened #326 "Share as much logic between X11 and stock X11 as possible"
https://bugs.chromium.org/p/chromium/issues/detail?id=789065

[2017-11-28 08:21] msisov commented on #279
Cherry-picked and reverted #327

[2017-11-28 08:21] #279 closed, assigned to msisov

[2017-11-30 15:37] tonikitoo opened #331 "[ozone/wayland] pressing ALT alternate focus between content and 3-dot menu button"
This by pressing ALT focus alternates between content and 3-dot.

This does not happen on ozone/x11 or chrome/x11.

[2017-11-30 15:38] tonikitoo commented on #331
investigating this a bit.

[2017-11-30 16:27] msisov commented on #325
taking this

[2017-12-06 12:47] msisov commented on #331
the #333 brings more problems rather than a good solution.

1) Auto repeat is buggy: that is, if you alternate with alt+tab between the chromium window and something else, and return back to chromium window again, you are no longer able to enter anything with a keyboard. The problem is that modifiers are stored in such a way that ALT is always kept pressed. Previously, we updated modifiers on Wayl

[2017-12-06 20:38] tonikitoo commented on #331
Hopefully fixed by PR #333 and PR #334 (Thanks for the fixup!).

[2017-12-11 08:45] msisov commented on #325
I've made a filter and disabled failing tests. We now build browser tests target, but there is a problem with compilation and compile flags when using ccache+icecc config. I hope this week's rebase will resolve the issue

[2017-12-11 11:10] msisov opened #337 "Decouple dependency on viz"
At the moment, we are not able to run external window mode without --mus=viz flag, which means mus hosts viz.

We must make changes to make it possible to run mus without viz, so that chrome could host viz instead.

bug: http://crbug.com/786453

[2017-12-11 11:10] msisov commented on #337
Taking it

[2017-12-18 22:08] tonikitoo commented on #331
Commit upstream (https://chromium-review.googlesource.com/c/chromium/src/+/822871), but reverted after discussing with spang@ (https://chromium-review.googlesource.com/c/chromium/src/+/832886).

Reopening.

[2017-12-18 22:21] tonikitoo commented on #331
PR #344 is an alternative solution. spang@ was contacted on IRC to make sure ui::KeyboardModifiers can be used from within Ozone/Wayland.

[2017-12-20 16:27] tonikitoo commented on #331
Should be fixed by PR #344.

[2017-12-20 16:27] #331 closed, assigned to tonikitoo

[2017-12-20 16:32] tonikitoo opened #346 "[ozone/wayland] Add capslock support."
SSIA

[2017-12-20 22:31] onny opened #349 "Git checkout is missing some files to start building process"
Hey,
I'm trying to simplify my already working ArchLinux package for your chromium fork. Currently I'm using gclient to sync sources and then run "runhooks" so all dependencies will be fetched.
The common chromium buildscript for the ArchLinux package uses the source tarball instead and is using some system libs instead of the bundled.
I want to adapt this in this PKGBUILD: https://git.project-ins

[2017-12-20 23:11] msisov commented on #349
Hi,

It looks more like a problem with gclient. The official source tarball shouldn't contain those third_parties.

[2017-12-21 13:07] tonikitoo opened #350 "analyze the "motionmark" discrepancy between chrome/x11 and chrome/ozone-wayland"
as per gyuyoung's experiment, motionmark has a big difference between chromium/wayland and stock chrome/x11.

https://docs.google.com/presentation/d/1KF-rVH6WGe85fytfUbLfEAbIsI35oS8GCVYCYej9YNE/edit#slide=id.g27ada51bfc_0_20

Lets make sure these numbers are accurate, and fix what is needed.

[2017-12-21 16:18] tonikitoo commented on #346
Fixed by PR #347.

[2017-12-21 16:18] #346 closed, assigned to tonikitoo

[2017-12-21 17:57] tonikitoo commented on #350
some numbers on my laptop (x86-64)

**1) chromium 65 / dev / ozone/wayland (gnome-wayland)
152.27
+-26.70%**

2) chromium 65 / dev / ozone/x11 (gnome-wayland with xwayland)
30.14
+-105.74%

**3) chrome 65 / dev / x11 (gnome-wayland with xwayland)
100.23
+-95.34&**

4) chrome 65 / dev / x11 (gnome-x11)
336.45
+-15.85%

5) chrome 65 / dev / ozone/x11 (gnome-x11)
123.49
+-27.15%

Although (1) are beh

[2017-12-21 19:58] tonikitoo opened #351 "[ozone/wayland] implement key auto repeat support"
on wayland, this must be a client side implementation, since compositor does not provide such functionality (like x11).

[2017-12-22 13:03] onny commented on #349
Thanks @msisov for your replay.
I further tweaked my PKGBUILD so gclient will fetch all the missing third_party sources:
[code]
After that it seems the source is complete. But somehow ninja build files are missing now ...
[code]
For reference, this is my most recent build script: https://git.project-insanity.org/snippets/28

[2017-12-22 13:15] msisov commented on #349
@onny, build.ninja files are generated during gn args step.

So, do `gn args out/{your_build_folder}`

UPD: oh, I see you have this step. let me see further

[2017-12-22 13:24] msisov commented on #349
Actually, this is strange
`Command '['ninja', '-C', '/home/onny/projects/chromium-wayland-git/src/temp/tmpFXOHpr', '-w', 'dupbuild=err', 'gn']' returned non-zero exit status 1`

You're script must run it differently. Why isn't it an out/Release folder?
https://git.project-insanity.org/snippets/28#L211

[2017-12-22 13:27] onny commented on #349
@msisov: I can't tell, that's how they do it in the offical ArchLinux chromium buildscript https://git.archlinux.org/svntogit/packages.git/tree/trunk/PKGBUILD?h=packages/chromium
But I have to change it a bit because the stable source tarball and the git checkout is different and in case of the git sources, I have to run ``gclient sync`` in addition.

[2017-12-22 13:40] msisov commented on #349
@onny,

I mean that you generate the args to out/Release folder, but build in a different folder. That's why it complains.

Check

[code]

[2018-01-08 14:19] tonikitoo commented on #351
Fixed by PR #352.

[2018-01-08 14:19] #351 closed, assigned to tonikitoo

[2018-01-10 13:41] tonikitoo commented on #349
any updates here?

[2018-01-10 21:25] onny commented on #349
Thanks for asking. I will try to figure this out after the next 2 weeks so I'll have some time 👍

[2018-01-11 07:48] msisov commented on #325
#335 #339 - browser_tests
#354 #355 - content_browsertests

[2018-01-11 09:30] msisov commented on #325
content_unittests didn't require any changes or filters.

We are now running content_unittests, browser_tests, content_browsertests, ozone_unittests, services_unittests.

[2018-01-11 09:31] msisov commented on #325
content_unittests are enabled since the following build - https://build-chromium.igalia.com/#/builders/1/builds/634

[2018-01-11 17:33] #303 closed, assigned to nobody

[2018-01-15 09:32] msisov commented on #264
This is fixed, but requires some refactoring. As long as the initial goal was accomplished, closing this.

[2018-01-15 09:32] #264 closed, assigned to msisov

[2018-01-24 20:39] tonikitoo opened #369 "[ozone] implement system-wide copy/past support"
We can copy/paste content between chrome/mus windows, but not with other applications in the system.

This is a big gap we have against stock chrome.

[2018-01-24 20:39] tonikitoo commented on #369
Taking a look at this..

[2018-02-02 17:46] tonikitoo commented on #349
Please reopen if you still have this issue.

[2018-02-02 17:46] #349 closed, assigned to nobody

[2018-02-13 15:00] msisov commented on #369
Since there were no actions on this, I'm taking over this. Started implementing the clipboard support.

[2018-02-13 20:37] msisov commented on #325
that's done.

[2018-02-13 20:39] msisov commented on #147
I doesn't seem to be reproducible on most of our environments. Closing it then

[2018-02-13 20:39] #147 closed, assigned to msisov

[2018-02-13 20:40] msisov commented on #337
PRs #371 #373

[2018-02-16 10:18] msisov opened #379 "OOPIF events are not properly dispatched."
It's not possible to either scroll on press on the elements. Looks like it's related to #271 as long as it also uses MusEmbeddedFrame, which then embeds with a token leading to a new WindowPortMus and aura::Window on WindowTreeClient side with an event handler set to null.

It concerns pdf pages and the signin dialog.

[2018-02-16 10:19] msisov commented on #379
for the record: https://bugs.chromium.org/p/chromium/issues/detail?id=755440

[2018-02-16 11:40] msisov commented on #379
https://bugs.chromium.org/p/chromium/issues/detail?id=780279

[2018-02-19 21:45] hedgepigdaniel opened #380 "FATAL:visitedlink_master.h(499)] Check failed: used_count == used_items_ (17744 vs. 17747)"
Hello,

I've just compiled this project successfully but I came across a runtime error, and some test failures. Hopefully its useful.

chromium-ozone-wayland: `70a4f45acc4106e2010efa51cdfc74a39e163c56`
Desktop env: GNOME 3.26 running wayland
GPU: Intel Kaby Lake integrated graphics on a Dell XPS 9560 (Also has a second NVIDIA GTX 1050 which is not being used)
Screens: Only the internal 4K screen w

[2018-02-19 22:03] tonikitoo commented on #380
we are definitively interested!

[20925:20954:0220/081905.324229:ERROR:xkb_keyboard_layout_engine.cc(694)] Not implemented reached in virtual bool ui::XkbKeyboardLayoutEngine::SetCurrentLayoutByName(const std::string &)
[20925:20925:0220/081906.002839:ERROR:global_shortcut_listener_ozone.cc(26)] GlobalShortcutListenerOzone object created
[20925:20925:0220/081906.002948:ERROR:global_shortcut_listen

[2018-02-19 22:13] hedgepigdaniel commented on #380
All I did was compile `chrome` and `chrome_sandbox` (the one that ended up in `/opt/chromium/chrome_sandbox` with the following args (a mixture of the built bot and the readme):

[code]

And then ran chrome as per the log.

I did not clean my profile dir first, so my older version of chromium now complains that the profile is corrupt when it starts. I assume this would not cause the new versions t

[2018-02-19 22:20] nickdiego commented on #380
@hedgepigdaniel Have you tried to build using this AUR?
https://aur.archlinux.org/packages/chromium-wayland-git

Maybe it give you some insight about the configs @onny used to build & run successfully this project on Arch.

[2018-02-19 22:34] hedgepigdaniel commented on #380
I haven't but I will check it out, thanks :)

from the PKGBUILD
[code]

I wonder what will happen when I build it...

[2018-02-19 23:10] onny commented on #380
Both pkgver version doesn't play any important role here, since the latest sources are pulled from this git repo. I just included the variables to match the original chromium PKGBUILD.

[2018-02-20 11:42] msisov commented on #271
closing in favor of #379

[2018-02-20 11:42] #271 closed, assigned to msisov

[2018-02-20 11:45] msisov commented on #379
--mash also doesn't work with pdfs, because there is no work going on viz!=mus for mash. But in case of --mus viz enabled, pdf pages work well.

Thus, it means that we must work on viz first and make a use of viz hittesting from that.

Linking this issue to #337

[2018-02-23 07:33] msisov commented on #155
#312

[2018-02-25 20:10] msisov opened #382 "[ozone/x11] 3-dot menu is missplaced"
To reproduce the issue

1) start chromium with x11 backend
2) open 3 dot menu
3) see that menu is misplaced

But once you move the chromium window or resize it, the menu is placed to a right place.

[2018-02-28 17:54] tonikitoo opened #384 "tab-switching from omnibox to text entry (in web contents) inserts \t"
load https://cs.chromium.org
make any search (eg 'chrome')
press control+L to place focus on the omnibox again
press TAB key to move focus to the web content (particularly to the search box that cs.chromium.org has)

bug: trailing \t character will be inserted.

[2018-03-01 18:02] tonikitoo opened #387 "mus_demo crashes at start up"
[code]

[2018-03-01 18:02] tonikitoo commented on #387
having a look

[2018-03-01 18:53] tonikitoo commented on #382
@jkim-julie fixed it in PR #385.

[2018-03-01 18:53] #382 closed, assigned to nobody

[2018-03-01 18:58] tonikitoo commented on #380
Good catch!

command line that you used to run mus_demo:

Command line needed to run mus_demo:

more explicitly: today we need both --mus and --mus-hosting-viz parameters to launch mus_demo. I will push a PR that requires you to do only --mus, as per our documentation, and so that it gets compatible with chrome and content_shell.

[2018-03-01 19:06] tonikitoo commented on #380
@onny, so this AUR does provide a build of the chromium/wayland being worked out by Igalia?

I believe then the pkgver values (48.x) if innacurate might at very least scare testers away, since it is a pretty old version of Chromium.

[2018-03-01 19:14] tonikitoo commented on #380
@hedgepigdaniel  the services_unittests failure look like a hiccup on the tests.

our latest build have it running 100% fine: https://build-chromium.igalia.com/#/builders/1/builds/691/steps/25/logs/stdio

[2018-03-01 19:14] tonikitoo commented on #387
quick work around pushed in PR #388.

[2018-03-01 19:14] #387 closed, assigned to tonikitoo

[2018-03-05 08:04] jkim-julie opened #389 "Disappeared input text"
While I tried to reproduce #384, I saw this issue.

1) load https://cs.chromium.org
2) remove "Google API keys are ...." with clicking 'X' button on left top.
3) make any search (eg 'chrome')
4) press control+L to place focus on the omnibox again
5) press 'tab' to move to search box at web content and press 'shift+tab' to move up omnibox.
If you repeat the 5th step to move back and forth at around

[2018-03-05 16:43] tonikitoo commented on #384
should be the same issue as Issue #384. Lets keep that one opened.

[2018-03-05 16:43] #384 closed, assigned to nobody

[2018-03-06 07:28] msisov commented on #337
after #391, our bot is modified to run with --enable-features=Mash. Once this task #337 is completed, we will move back to --enable-features=Mus.

[2018-03-08 02:38] #389 closed, assigned to jkim-julie

[2018-03-08 02:42] jkim-julie commented on #389
Fixed in PR #392

[2018-03-28 11:54] tonikitoo opened #401 "Deploy ozone-wayland-dev-r545691 branch"
SSIA

[2018-03-28 12:23] tonikitoo commented on #401
Fixed by PR #402

[2018-03-28 12:23] #401 closed, assigned to tonikitoo

[2018-03-28 14:40] tonikitoo commented on #369
Fixed by PR #386, PR #394, PR #399, PR #403 & PR #407 .

Upstreaming: https://crrev.com/c/976461/

[2018-03-28 14:40] #369 closed, assigned to tonikitoo

[2018-04-03 02:35] tonikitoo opened #409 "[ozone] implement system-wide "primary selection" support"
This complements Issue #369. It is about middle-click paste.

[2018-04-22 20:11] mntmn opened #414 "v4l2_jpeg_decode_accelerator.cc path issue"
I just did a fresh checkout and config and hit this problem:

Adding "v4l2/" directory prefixes in the 4 lines at https://github.com/Igalia/chromium/blob/ozone-wayland-dev/media/gpu/BUILD.gn#L240 fixes it.

[2018-04-22 21:40] tonikitoo commented on #414
hi! what branch are you using, what are your GN args?

[2018-04-23 07:06] mntmn commented on #414
Hi! Sorry for not providing all the specifics. I was under the wrong impression that this was a trivial thing. Actually the build has many little problems so it might be a config issue. The branch is ozone-wayland-dev at 7f25d821b27f652ed2bfa2a6168e2eed6df1b0ab.

The gn args:

[code]

I disabled the following lines now and getting problems with some undefined identifiers related to Skia like SK_CR

[2018-04-23 07:53] mntmn commented on #414
Is it possible that `gclient sync` downloaded an incompatible/too new version of Skia? I'm getting errors like

[code]

Or:

[code]

[2018-04-23 08:24] mntmn commented on #414
Nervermind, the Skia problems were from including the wrong SkUserConfig.h. I originally tweaked the path to it in SkTypes.h because the compiler could not find SkUserConfig.h for some reason.

[2018-04-23 12:15] tonikitoo commented on #414
Ok, thanks.

so just to make sure: problem happens when you have

use_v4lplugin=true
use_linux_v4l2_only=true

?

Are you building for x86-64? Any toolchain (yocto, etc)?

[2018-04-23 12:50] mntmn commented on #414
Yes, I have the problem with these options. I am cross-building for ARM (32 bit) on Debian Linux buster/sid. The build is still going. I've had to comment out some other odd bits in various files to make it continue at several failure points, I'll post a complete list when it's done.

No yocto, building with `ninja -C out/Default chrome`

[2018-05-08 08:55] msisov opened #417 "[Wayland/X11] Make popup windows working again."
First, this issue needs https://github.com/Igalia/chromium/commit/a7547ff6d76659e779f12571446b555627e42e44 with wayland xdg related patches.

Second, analyze what's needed more.

[2018-05-08 08:57] msisov opened #418 "[Wayland/X11] Make tooltips properly working"
Please refer to https://github.com/Igalia/chromium/commit/a31429315b6eeac40f18c533e7e738dd10667902 and https://github.com/Igalia/chromium/commit/5b76458c470f30eef1c8536276f8dac89252cb89. These are needed to be cherry-picked.

[2018-05-08 09:00] msisov opened #419 "[Wayland/X11] Make window interactions (move, resize and etc) working."
Refert to https://github.com/Igalia/chromium/commit/46547f1124fc97d4e357a1b61cda31260627c357. Mus related changes won't be needed here.

[2018-05-08 09:01] msisov opened #420 "[Wayland/X11] Handle window minimize/maximize/restore in ozone"
Refer to https://github.com/Igalia/chromium/commit/e97ef914f66670aa19f9a557aca5552b68cdb694.

Please note that Mus related changes are not needed.

[2018-05-09 01:27] jkim-julie opened #424 "[Wayland/X11] Window relationship"
Refer to https://cs.chromium.org/chromium/src/ui/views/widget/desktop_aura/desktop_window_tree_host_platform.cc?type=cs&q=DesktopWindowTreeHostPlatform&l=40.
Maybe Widget::InitParams are needed to be passed to PlatformWindow.

(Related to commit cc377e0e06d6d728eac36f872571ad3369485c60)

[2018-05-09 01:32] jkim-julie opened #425 "[Wayland/X11] Events(right-clicking and wheel scrolling)"
Related to commit b6de078a1560a3d9d7df25051cbb51d98667b0b2 and commit 7eef87b80c6a483cc73d7ad555615e8454e12593

[2018-05-09 06:25] msisov commented on #420
Fixed by #422

[2018-05-09 06:25] #420 closed, assigned to msisov

[2018-05-09 07:40] #419 closed, assigned to nobody

[2018-05-09 07:40] msisov commented on #419
fixed by #423

[2018-05-09 07:41] msisov opened #426 "[ozone/x11] Make ozone x11 functioning"
It now crashes on start up

[2018-05-11 07:17] jkim-julie commented on #424
Closed. It's handled with #417.

[2018-05-11 07:17] #424 closed, assigned to jkim-julie

[2018-05-11 09:59] jkim-julie commented on #417
Now, we basically can see menu from 3 dot at right-top and drop-down list from web pages.

[2018-05-11 09:59] #417 closed, assigned to jkim-julie

[2018-05-11 11:06] #418 closed, assigned to jkim-julie

[2018-05-14 02:25] jkim-julie opened #430 "[Wayland/X11] Handle Tab dragging"
Related to commit fc553553a5c2a323d0d591905775369e7851c7e6.

Current window_finder_ozone only works with mus.

[10276:10276:0511/124240.997375:FATAL:window_finder_ozone.cc(15)] Check failed: false. For Ozone builds, only mash launch is supported for now.
#0 0x7fe1ae300fbc base::debug::StackTrace::StackTrace()
#1 0x7fe1ae24337b logging::LogMessage::~LogMessage()
#2 0x560a6b7f390a WindowFinder::GetL

[2018-05-14 07:12] msisov commented on #430
From my last research, Wayland doesn't support window tab dragging. That is, when one drags a window, they can't know the exact location of a Wayland window (global coordinate are not available for users), which is used to unite a window with another window and make a new tab out of out.

However, users can drag tabs and created windows out of them.

For wayland, just implement ::RunMoveLoop and r

[2018-05-15 06:42] #379 closed, assigned to msisov

[2018-05-15 06:43] #12 closed, assigned to msisov

[2018-05-15 06:43] #16 closed, assigned to tonikitoo

[2018-05-15 06:44] #17 closed, assigned to tonikitoo

[2018-05-15 06:44] msisov commented on #18
done.

[2018-05-15 06:44] #18 closed, assigned to tonikitoo

[2018-05-15 06:44] #46 closed, assigned to nobody

[2018-05-15 06:45] msisov commented on #426
X11 will have similar to the Wayland display fetch design. Let's see how Wayland upstreaming goes first, and then implement X11 https://chromium-review.googlesource.com/c/chromium/src/+/1051829

[2018-05-15 07:07] msisov opened #433 "[ozone/platform] enable browser, content (content_shell) plus other tests"
ditto.

[2018-05-15 14:41] jkim-julie opened #435 "[ozone/wayland] reset cursor"
Related commit b1f69a5f64fda9b4182c57daa43f42d202c1c12.

[2018-05-15 15:01] jkim-julie opened #437 "[ozone/wayland] supporting V4L2VDA"
Related commits from previous branch.

-Add support for V4L2VDA on Linux(commit 8626a15aae1ed6dd509ecf2aeabf3a55999f909a)
-Add mmap via libv4l to generic_v4l2_device(commit c01b789bf54aac65c0597fd38615ff98b1fcd72e)
-fixup! avoid building not declared formats(commit 26605b5b20f5660c55b4cd87bbf9472551a9dcb8)

[2018-05-16 07:39] msisov commented on #433
#439 #434

[2018-05-16 07:39] msisov commented on #437
#438

[2018-05-16 07:39] #437 closed, assigned to nobody

[2018-05-16 07:39] msisov commented on #435
#436

[2018-05-16 07:39] #435 closed, assigned to nobody

[2018-05-16 08:03] jkim-julie opened #440 "[ozone/wayland] handling stopped_propagation on InputMethodMinimal"
Related commit 4a62520cee68c79cf0db1b4e53ab3a8e36f161ed

[2018-05-17 00:34] #425 closed, assigned to jkim-julie

[2018-05-17 05:06] ammen99 commented on #430
@msisov I think it should be possible to implement this using wl_data_source, have you checked it? Wayland definitely supports drag and drop.

[2018-05-17 07:23] msisov commented on #430
ammen99, hey. Indeed, I haven't considered that option. I'll check it later, thanks for the hint.

[2018-05-17 11:54] msisov commented on #426
Ok, this has been landed. So, I think I can use the same approach for X11.

[2018-05-17 11:54] #433 closed, assigned to msisov

[2018-05-22 06:13] msisov commented on #426
#445 #446

[2018-05-22 06:13] #426 closed, assigned to msisov

[2018-05-22 06:14] msisov commented on #440
#441

[2018-05-22 06:14] #440 closed, assigned to nobody

[2018-05-30 06:02] jkim-julie opened #448 "[ozone/wayland] Window size is not restored from previous size on maximized/minimized/fullscreen/relaunch"
Reproduced steps
1) Launch chromium
2) Resize using mouse at the edge on the window.
3) Close chromium and relaunch it.

It's opened with same size, not the updated size.
It happens also on returning back from minimized or maximized or full-screen.

[2018-05-31 04:15] #448 closed, assigned to jkim-julie

[2018-06-06 14:25] msisov opened #451 "[ozone] Fix fullscreen video playback."
Open youtube.
Play a video.
Set it to fullscreen -> Only the browser window is set to fullscreen mode, but the video is not.

[2018-06-06 14:27] msisov commented on #239
This is not an issue with the newest aura integration.

[2018-06-06 14:27] #239 closed, assigned to nobody

[2018-06-06 14:28] msisov commented on #100
New issue: sometimes drop-down menus do not work with touch events.

[2018-06-06 14:31] msisov commented on #380
added not_confirmed flag. this should be checked with desktop_aura integration

[2018-06-07 11:29] msisov commented on #325
this should be done with the refactored branch now

[2018-06-19 12:35] msisov commented on #451
UPD: looks like the fullscreen_controller works fine and it's getting stuck in the kEnteringFullscreenMode.

Checking further

[2018-06-20 10:09] msisov commented on #451
https://chromium-review.googlesource.com/c/chromium/src/+/1107636

[2018-07-23 02:14] RyoKodama opened #466 "Fix the derivation of void aura::TextInputClientImpl::ExtendSelectionAndDelete(size_t, size_t)"
I tried building raspberry pi 3 image.
But I couldn't make it.
It can't derive. Because even though the arguments are different from the parent's one, but the derived class uses override specifier. The compile error message is below.
How can we fix it?

| In file included from ../../ui/aura/mus/input_method_mus.cc:13:0:
| ../../ui/aura/mus/text_input_client_impl.h:39:8: error: 'void aura::TextInpu

[2018-07-25 09:38] mihailescu2m opened #467 "wl_surface@20: error 0: Cannot commit a NULL buffer to an xdg_surface"
Start chrome from terminal
Press CTRL+C in terminal

resulting error: wl_surface@20: error 0: Cannot commit a NULL buffer to an xdg_surface
(this error appears some other times, but this is easy to reproduce)

[2018-07-25 09:40] mihailescu2m opened #468 "Segmentation fault on exit"
This might be specific to my platform (armhf + mali t628 old wayland drivers)

On exit, there's a segmentation fault. I don't have a debug build, and this is all I get with gdb:

`
Thread 1 "chrome" received signal SIGSEGV, Segmentation fault.
0xb5289832 in ?? () from /usr/lib/arm-linux-gnueabihf/libwayland-client.so.0
(gdb) bt
#0  0xb5289832 in  () at /usr/lib/arm-linux-gnueabihf/libwayland-clien

[2018-07-25 09:48] mihailescu2m opened #469 "Wrong mouse cursor"
Sometimes the mouse pointer gets stuck with the wrong cursor.
For example, after hovering a link, the mouse pointer is stuck to the hand icon all over the chrome window (including titlebar). Outside chrome window is ok.

[2018-07-25 09:52] #451 closed, assigned to msisov

[2018-07-25 10:16] mihailescu2m opened #470 "Resize with WebGL content issues"
The issues are with the mutter compositor: the compositor receives the correct size, but in the Activities menu (when doing Exposè), the Chrome mini-window has wrong size (according to the last resize operation done).
For example, if you resize the window on X (and make it bigger), the mini-window will be bigger than the (correct) frame, stretched on X with a similar ratio as the window resize.
No

[2018-07-30 05:36] msisov commented on #325
taking it

[2018-08-09 09:14] jkim-julie opened #475 "Crashed with --ozone-platform=headless or x11"
Received signal 11 SEGV_MAPERR 000000000000
#0 0x7fc888fd1f9c base::debug::StackTrace::StackTrace()
#1 0x7fc888fd1a61 base::debug::(anonymous namespace)::StackDumpSignalHandler()
#2 0x7fc87d96a150 <unknown>
#3 0x7fc884b12e2a ui::InputMethodAuraLinux::InputMethodAuraLinux()
#4 0x7fc884b11c31 ui::CreateInputMethod()
#5 0x7fc8848af60a aura::WindowTreeHost::GetInputMethod()
#6 0x7fc8839442fb views::Wi

[2018-08-14 02:38] weetli opened #477 "Cannot run chromium-ozone-wayland in qemu"
I used the meta-browser to compile the chromium. When I tried to run Chrome on QEMU, I encountered the following question. Can Chrome Ozone Welan be able to run on QEMU? If so, which version is used?

[412:412:0813/124223.887813: ERROR:browser_dm_token_storage_linux.cc(93)] Error: /etc/machine-id contains 32 characters (32 were expected)
[412:412:0813/124223.887813: ERROR:gl_surface_egl.cc(538)] E

[2018-08-21 06:23] jkim-julie commented on #475
It's fixed and works fine.

[2018-08-21 06:23] #475 closed, assigned to nobody

[2018-09-05 11:20] msisov commented on #477
you can try to use --in-process-gpu mode to avoid possible gbm related problems.

[2018-09-05 20:35] mntmn commented on #469
Confirmed, I have the same problem.

[2018-09-05 21:01] msisov commented on #469
The team is aware of the problem, but is busy with more important stuff. Also, most of the patches go directly to upstream and may not be explicitly merged here.

[2018-09-05 21:18] mntmn commented on #469
Alright, thanks for the quick answer

[2018-09-05 21:21] mntmn commented on #469
As a workaround, would it be possible to disable cursor changing in general? Maybe you can point me to the right method to patch locally?

[2018-09-13 11:50] Elyotna opened #482 "V4L2 video decoder codepath isn't reached"
I am trying to get chromium working with hardware decoding via a v4l2 m2m device.

I use Igalia/meta-browser, branch ozone/wayland/70.0.3509.0.r579363. Target is aarch64.

I added the following GN args:
[code]

I also patched the source to allow the flag kDisableAcceleratedVideoDecode on linux, so that I can enable hw acceleration in chrome://flags.

chrome://gpu shows that the GPU has hardware ac

[2018-09-13 11:56] msisov commented on #482
Hi. Try to ln for /dev/video0 to video0-dec

Chromium searches for the following paths - https://cs.chromium.org/chromium/src/media/gpu/v4l2/generic_v4l2_device.cc?type=cs&q=video-dec&g=0&l=510

[2018-09-13 12:37] Elyotna commented on #482
Thank you!

I then followed to hit this error:

[code]

But this could be fixed by forcing DRM_FORMAT_NV12 in GenericV4L2Device::CanCreateEGLImageFrom. By default it's only allowed with defined(ARCH_CPU_ARMEL)

Now the next issue is a v4l2 event not supported by my driver so I'll have to fix that.

[2018-09-13 12:39] msisov commented on #482
You're welcome!

[2018-09-13 12:39] #482 closed, assigned to nobody

[2018-09-25 10:09] ammen99 opened #484 "Crash on youtube videos"
[code]

Just open a youtube video, this happens. Please tell me if I can/should provide more information.

[2018-09-25 10:11] msisov commented on #484
can you paste the output of about://gpu?

[2018-09-25 10:23] ammen99 commented on #484
I'm using it under wayland, and can't copy for some reason. Will try under X11/another compositor

[2018-09-25 10:23] msisov commented on #484
clipboard implementation is not in place yet. that's expected

[2018-09-25 10:24] msisov commented on #484
I'd also like to see a full startup log since you type to the terminal and hit enter

[2018-09-25 11:30] ammen99 commented on #484
[code]

[2018-09-25 11:31] ammen99 commented on #484
I also thought you had implemented the clipboard & DnD for wayland

[2018-09-25 11:35] ammen99 commented on #484
Tested under Ozone/X11, works fine, so this is definitely something related to Wayland (More specifically GBM buffers by looking at the trace, but you'll know better than me :)

Another thing: those `error: received delete_id for unknown id (28)` happen quite often.

[2018-09-25 11:58] ammen99 commented on #484
Forgot to mention, I can manually copy info from `about://gpu`, just tell me what parts are of interest to you.

[2018-09-25 12:09] msisov commented on #484
everything is important

[2018-09-25 18:47] ammen99 commented on #484
Just realized I can simply screenshot the `about://gpu` page, sorry for the delay.
https://imgur.com/a/nabsHGI

[2018-09-26 06:20] msisov commented on #484
Ok, I have one idea.

Can you please remove the if condition on the lines 28-32 [here](https://github.com/Igalia/chromium/blob/ozone-wayland-dev/ui/ozone/platform/wayland/client_native_pixmap_factory_wayland.cc#L28) and try to recompile chromium?

[2018-09-26 17:10] ammen99 commented on #484
@msisov Just tested it, works fine with the `if` removed.

[2018-09-26 17:37] msisov commented on #484
Seems like the compositor does not announce supported drm formats in your case. And just guessing buffer formats is a bad idea, which results in crashes as yours.

What is your system and what hardware do you use?

[2018-09-26 18:07] ammen99 commented on #484
My computer is a Lenovo Yoga 510 (intel i7-7500U, GPU: intel HD 620), running Fedora 28 with a wlroots-based compositor (Wayfire). But happens under weston as well.

[2018-09-26 18:14] ammen99 commented on #484
Actually this doesn't happen under gnome, maybe this really should be a compositor bug. Anyway, if this is the case, shouldn't chromium log something more useful and not just crash?

UPD: happens under latest wlroots/weston, so this is not due to using an outdated version.

[2018-09-26 19:16] msisov commented on #484
As I said it was a bad idea to guess buffer formats if they are not announced by the compositor at all.

I will remove that code and just silently fallback to software pixmap.

[2018-09-27 06:46] ammen99 commented on #484
I'm fine as long as it doesn't crash.

[2018-10-03 01:50] newhacker1746 opened #492 "Crash on startup on Ubuntu 18.04"
Compiled following the instructions to the letter, compilation was successful. Machine is Ubuntu 18.04, logged in with Wayland. The following is the error output from launching chrome:
[code]
Machine is up to date as of right now, and I am also using bionic-proposed for some newer packages and the padoka ppa for an updated mesa (I am using a GTX 760 on nouveau)
[code]
[code]

[2018-10-03 06:56] msisov commented on #492
It says that neither xdg shell v5 nor xdg shell v6 protocols are available.

[2018-10-03 07:33] nickdiego commented on #492
@newperson1746 What DE/WM are you using?

[2018-10-03 15:11] Elyotna commented on #482
@msisov Thanks to your work I was able to showcase chromium-wayland-v4l2 recently, so thanks a bunch! :-)

https://www.youtube.com/watch?v=39TrUK0dUO8&feature=youtu.be&t=2h8m22s

[2018-10-04 10:46] msisov commented on #482
awesome! thanks!

[2018-10-06 02:05] newhacker1746 commented on #492
Hmm, according to https://gitlab.gnome.org/GNOME/mutter/commit/d714a94d97af8b34721236bb8ca6f0e3fd6dc1c9
it seems that at least xdg_shell v6 is available in mutter. Perhaps it isn't exposed in gnome-shell or maybe the code was dropped at some point?

[2018-10-06 06:05] msisov commented on #492
Can you paste a log from a Wayland debug session?

Start chromium with
WAYLAND_DEBUG=server ./chromium

[2018-10-09 02:01] newhacker1746 commented on #492
Using WAYLAND_DEBUG=server did not produce any additional output, but using WAYLAND_DEBUG=1 did work and give more output.

[code]

[2018-10-09 09:11] msisov commented on #492
From the log, it looks like it does not even try to bind to the zxdg_shell_v6 for some reason. Are you able to place
LOG(ERROR) << "Interface " << interface << " version " << version;
into the beginning of void WaylandConnection::Global() method in the ui/ozone/platform/wayland/wayland_connection.cc file and place the output to here?

[2018-10-11 02:01] newhacker1746 commented on #492
Ok, I added the LOG line to the specified location and re-compiled.

[code]

[2018-10-16 06:54] msisov commented on #492
Ok, it does not bind to the zxdg shell v6 for some reason. Check here https://github.com/Igalia/chromium/blob/ozone-wayland-dev/ui/ozone/platform/wayland/wayland_connection.cc#L397 .  Looks like one of the checks is broken.

[2018-10-16 06:55] msisov commented on #484
fixed by https://chromium-review.googlesource.com/c/1253641/

[2018-10-16 06:55] #484 closed, assigned to nobody

[2018-10-16 06:56] #477 closed, assigned to nobody

[2018-10-16 06:56] msisov commented on #469
is it still applicable?

[2018-10-16 06:57] #337 closed, assigned to msisov

[2018-10-16 06:57] msisov commented on #466
The m71 recipe builds for the raspberry pi 3 without any issues. closing.

[2018-10-16 06:57] #466 closed, assigned to nobody

[2018-10-16 06:59] msisov commented on #414
closing old issue. reopen if anything.

[2018-10-16 06:59] #414 closed, assigned to nobody

[2018-10-16 06:59] msisov commented on #72
https://chromium-review.googlesource.com/c/chromium/src/+/1256785

[2018-10-16 06:59] #72 closed, assigned to nobody

[2018-10-16 07:00] msisov commented on #100
touch screen is in place in the ToT

[2018-10-16 07:00] #100 closed, assigned to nobody

[2018-10-16 07:01] msisov commented on #155
https://bugs.chromium.org/p/chromium/issues/detail?id=791920&desc=3

we have a completely functional IME now. Thanks @zhani

[2018-10-16 07:01] #155 closed, assigned to nobody

[2018-10-16 07:02] msisov commented on #156
not applicable any more.

[2018-10-16 07:02] #156 closed, assigned to nobody

[2018-10-16 07:02] msisov commented on #166
https://bugs.chromium.org/p/chromium/issues/detail?id=869286

[2018-10-16 07:02] #166 closed, assigned to tonikitoo

[2018-10-16 07:03] msisov commented on #214
outdated. closed. reopen if anything in the crbug.com and add msisov@igalia.com to cc.

[2018-10-16 07:03] #214 closed, assigned to nobody

[2018-10-16 07:04] msisov commented on #234
we have not seen that issue for a long while. closing.

[2018-10-16 07:04] #234 closed, assigned to nobody

[2018-10-16 07:07] msisov commented on #259
Opened a bug in the upstream. Closing in favor of https://bugs.chromium.org/p/chromium/issues/detail?id=895743

[2018-10-16 07:07] #259 closed, assigned to nobody

[2018-10-16 07:07] msisov commented on #257
haven't seen this for ages. closing.

[2018-10-16 07:07] #257 closed, assigned to nobody

[2018-10-16 07:09] msisov commented on #265
doesn't occur with ozone/wayland and the desktop integration without mus.

[2018-10-16 07:09] #265 closed, assigned to nobody

[2018-10-16 07:10] msisov commented on #266
nowadays, the most of the work is done in the ToT. We have few patches left in the downstream.

[2018-10-16 07:10] #266 closed, assigned to nobody

[2018-10-16 07:10] msisov commented on #289
not applicable.

[2018-10-16 07:10] #289 closed, assigned to nobody

[2018-10-16 07:11] msisov commented on #299
not applicable any more.

[2018-10-16 07:11] #299 closed, assigned to nobody

[2018-10-16 07:12] msisov commented on #380
not applicable any more.

[2018-10-16 07:12] #380 closed, assigned to nobody

[2018-11-21 19:54] GorrillaRibs opened #503 "[Not really an issue] Would it be possible to provide prebuilt binaries?"
Sorry if this is too off topic for Issues, feel free to remove if it is. I'd love to test this, but have so far not been able to successfully build it (I'm sure it's something wrong on my end), and was wondering if it was feasible for you to provide a binary for testing. I've no idea how much work is involved in this (I'd assume just compiling with the flag is_debug=false?), but I figured it was w

[2018-12-01 22:26] ammen99 commented on #484
Just built latest chromium, the bug is still here (or maybe slightly different):
[code]

This is just opening chromium and starting a youtube video.

[2018-12-01 22:29] ammen99 opened #507 "Crash on startup without `--in-process-gpu`"
Try starting chromium without `--in-process-gpu`, getting just this. Latest commit in this repo.
Backtrace:
https://pastebin.com/UVzJ6vyu

[2018-12-01 22:34] lorenz opened #508 "Crash with Native GPU Memory Buffers"
When running Chromium on a compositor supporting some pixel formats for GPU Memory Buffers (for example Weston) it fails to start with a segmentation fault in `GbmPixmapWayland::InitializeBuffer()`. GDB is not that useful since this is a release build. It looks like that's either caused by size or gbm_device() being null.

[2018-12-03 07:13] msisov commented on #507
2 possible issues:
1) wrong usage of minigbm and related gn args.
2) missing render node support.

what are your gn args?

check that render node exists

[code]

[2018-12-03 07:20] msisov commented on #503
that's possible, actually. Though, it depends on our availability. I'll try to figure out what we can do.

[2018-12-03 07:21] msisov commented on #508
what's your system? does it work without native gpu memory buffers used?

[2018-12-03 10:17] ammen99 commented on #507
Hi, I have the render nodes (just renderD128 on my system, but that is because I have a single GPU).

My gn args: `use_ozone=true use_xkbcommon=true enable_nacl=false is_debug=false symbol_level=0 use_sysroot=false remove_webcore_debug_symbols=true use_jumbo_build=true`

The only thing that seems like it might cause problems is the `enable_nacl`, but I think I've seen people build chromium without

[2018-12-03 10:41] msisov commented on #507
Ok. you're using third_party/minigbm without specifying gpu driver.

Switch off the minigbm and use a system one -
use_system_minigbm=true

[2018-12-03 19:45] lorenz commented on #508
Ubuntu 18.10 with Mesa 18.2 on an RX570. GBM is definitely supported. And yes, it does work without.

[2018-12-04 07:31] ammen99 commented on #507
@msisov Thank you very much for your help. It works now.

[2018-12-04 07:31] #507 closed, assigned to nobody

[2018-12-05 06:12] msisov commented on #508
It looks more like inconsistency between buffer usage and buffer type. I have RX460 running on Debian stretch with backports and Mesa 18.2, which uses native gpu memory buffers without any problems.

Would it be possible for you to add symbol_level=2 and recompile Chromium to see the bt?

[2018-12-05 13:45] lorenz commented on #508
Running a build for symbol_level 2 now

[2018-12-07 01:49] lorenz commented on #508
So, I still don't have line-by-line symbols, but by examining the registers and the assembly I'm 99% sure that gbm_device is null. I have no idea why though.

[2018-12-26 20:58] tonikitoo opened #510 "gn args --check <out> fails"
<out>$ gn args --check out/ozone/linux_os
Waiting for editor on "/out/ozone/linux_os/args.gn"...
Generating files...
ERROR at //ui/base/ime/linux/fake_input_method_context_factory.h:10:11: Include not allowed.
#include "ui/base/ime/ui_base_ime_export.h"
          ^-------------------------------
It is not in any dependency of
  //ui/base/ime/linux:linux
The include file is in the target(s):
  //ui

[2018-12-27 17:11] qnixsynapse opened #511 "Build fails when vaapi sources are included"
I'm using the  official patch and when compiling with ozone flags fails at the final linking:
[code]
Edit : Tried also without the patch but used "use_vaapi=true" resulted in the same error.
I tried hard to find out the root cause and failed. If anyone can help me out with this.
Thanks in advance.

[2019-01-02 16:06] nickdiego commented on #510
Hi @tonikitoo, couldn't reproduce this issue on my env.
Could you provide your `gn args`? Or maybe you missed a `gclient sync`?
Thanks for reporting this.

[2019-01-02 16:10] nickdiego commented on #469
Hi @msisov, Just checked with the latest version and couldn't reproduce this issue.

[2019-01-02 18:49] nickdiego commented on #510
Oops, just got it, was trying with usptream/master branch :)

[2019-01-09 22:23] nickdiego opened #512 "Crash at startup when using gpu process + system gbm (on weston)"
#### GN Args:
[code]

#### System info:
[code]

#### Stack trace:
[code]

[2019-01-09 22:36] nickdiego opened #513 "Event handling issues when multiple browser windows are open"
#### Steps to reproduce:
1. Open chrome
2. Open new window (Ctrl+N)
3. Go back to 1st window open and click into the tab strip (e.g: at the right of the '+' button)
4. Try to move the 2nd window (clicking/dragging in its tab strip bar)

#### Expected result:
The 2nd browser should be moved following the mouse cursor

#### Actual result:
The browser window does not move
Furthermore, after that if y

[2019-01-10 09:01] msisov commented on #511
sorry, we haven't used vaapi with ozone. Can you share a link to the patch you used?

[2019-01-10 10:19] qnixsynapse commented on #511
@msisov I am using this https://github.com/chromium/chromium/commit/31225b9c5f3f685d65f742dc129241c30c32157c

with use_vaapi=true flag.

[2019-01-13 04:59] Alex-Aralis opened #515 "Needs libffi.6?"
I'm sitting out here in gentoo land and only have libffi.7 but when i try to build chromium for wayland it screams for libffi.6.  Looking at the version compiled by the system, it's using the libffi.7 and i'm wondering what's up?  Is it one of the gentoo specific patches to chromium that makes it use libffi.7 instead of 6?

Here's the ebuild for vanilla chromium in case it helps.
https://gitweb.ge

[2019-01-14 08:30] msisov commented on #515
Wayland relies on libffi, but there is no specific version needed -

[code]

But there are instrumented_libraries, which rely on libffi6

[code]

[2019-01-14 15:38] nickdiego commented on #513
Closing this as [the fix has been merged upstream](https://chromium-review.googlesource.com/c/chromium/src/+/1407011).

[2019-01-14 15:38] #513 closed, assigned to nobody

[2019-01-15 07:44] msisov commented on #510
Fixed during today's rebasing. Closing.

[2019-01-15 07:44] #510 closed, assigned to nobody

[2019-01-15 08:14] msisov commented on #515
Feel free to reopen.

[2019-01-15 08:14] #515 closed, assigned to nobody

[2019-01-15 08:15] msisov commented on #511
We haven't tried with vaapi, but let me try

[2019-01-15 09:30] msisov commented on #508
any news?

[2019-01-15 09:31] msisov commented on #468
most probably fixed. closing.

[2019-01-15 09:31] #468 closed, assigned to nobody

[2019-01-15 09:32] msisov commented on #91
moved to https://bugs.chromium.org/p/chromium/issues/detail?id=845818

[2019-01-15 09:32] #91 closed, assigned to jkim-julie

[2019-01-15 09:35] msisov commented on #126
the issue moved to the upstream - https://bugs.chromium.org/p/chromium/issues/detail?id=921947

[2019-01-15 09:35] #126 closed, assigned to nobody

[2019-01-15 09:36] msisov commented on #261
this is no longer the case and we have pretty good results.

[2019-01-15 09:36] #261 closed, assigned to nobody

[2019-01-15 09:38] msisov commented on #291
haven't seen it for ages. I guess it was fixed (checked that couldn't be reproduced any more)

[2019-01-15 09:38] #291 closed, assigned to nobody

[2019-01-15 09:39] msisov commented on #325
We are enabling weston to be used with tests in order to be able to run tests with ozone-platform=wayland.

https://github.com/Igalia/chromium/pull/516

[2019-01-15 09:48] msisov commented on #409
moved to https://bugs.chromium.org/p/chromium/issues/detail?id=921950

[2019-01-15 09:48] #409 closed, assigned to tonikitoo

[2019-01-15 09:49] msisov commented on #430
https://bugs.chromium.org/p/chromium/issues/detail?id=896640

[2019-01-15 09:49] #430 closed, assigned to nobody

[2019-01-15 12:08] qnixsynapse commented on #511
@msisov  Thank you very much :+1: :)

[2019-01-15 12:11] msisov commented on #511
I added a patch to be able to build with it, but haven't tested the functionality. feel free to ping if anything

[2019-01-15 12:11] #511 closed, assigned to nobody

[2019-01-15 12:33] #467 closed, assigned to nobody

[2019-01-15 12:34] msisov commented on #492
any news?

[2019-01-15 13:16] lorenz commented on #508
Not really, still happens and I don't know why. I aborted the symbol_level=2 build after it consumed ~32GiB RAM and 20TiB of disk IO.

[2019-01-15 13:33] msisov commented on #508
will it be possible to add checks along the path and see if the device is really null?

[2019-02-01 01:42] nickdiego commented on #508
Hi @lorenz , Could you please try adding the following to your `args.gn`:

[code]
This should be enought to get a stack trace in case of crash.

Additionally, are you using `use_system_minigbm=true` ? If yes, could you try with `use_radeon_minigbm=true` instead, and check whether the result is the same?

[2019-02-01 14:49] lorenz commented on #508
@nickdiego I'm currently running a build with the args you suggested. Thanks for providing these, it's a bit hard to navigate all the build flags as a non-Chromium-dev. When the build finishes I'll report back.

[2019-02-02 15:53] lorenz commented on #508
Build did complete, but the bug still persists. I get a null pointer segfault at `gbm_pixmap_wayland.cc:69`.
This is using your build args and `use_radeon_minigbm=true`. The crash only happens when I'm force-enabling native GPU memory buffers.

[2019-02-02 16:36] lorenz commented on #508
@nickdiego I instrumented the critical part and got this:
`[8632:8660:0202/173611.837021:ERROR:gbm_pixmap_wayland.cc(71)] connection_->gbm_device() is null`

EDIT: I started adding debug output to the section where gbm_device is initialized and figured out that the issue is that `--in-process-gpu` disables the branch `!args.single_process` at `InitializeGPU()` and thus never initialized the GBM de

[2019-02-02 17:14] msisov commented on #508
It cannot be null. Otherwise, you won’t be able to start browser at all. Chromium tried to create gbm bo with a buffer type not supported on your device. Can you copy/paste the about://gpu page here?

PS you can’t use native gpu memory buffers with —in-process-gpu flag. The feature is not used for the in-process-gpu at the moment. And won’t be used in the future, I guess.

That path uses egl surfa

[2019-02-02 17:26] lorenz commented on #508
It is definitely null and the browser starts if not using native gpu buffers. I added a log there which literally checks `connection_->gbm_device() == nullptr`. I figured out that `--in-process-gpu` doesn't work with native gpu memory buffers. But when not passing that flag I get `Failed to initialize gbm device`.

[2019-02-02 18:26] msisov commented on #508
I’ve already told you why it happens. Don’t pass —in-process-gpu flag if you want to use native gpu memory buffers

[2019-02-02 18:40] msisov commented on #508
Is there a specific reason why you don’t want to have a separate gpu process running?

To sum up, gbm is used only without in-process-gpu flag aka a separate gpu process is spawned. Native gpu memory buffers feature heavily relies on that.

Likely, we could always use gbm, which would allow native gpu memory buffers work with in-process-gpu mode. And if gbm is not available, forbid that feature an

[2019-02-02 18:42] lorenz commented on #508
Some more info: I switched to `use_system_gbm=true`, now I no longer get a GBM initialization error. But I get this (GBM device available is injected by me and is printed after set_gbm_device() in InitalizeGPU):
[code]
I dropped a bunch of entries related to unimplemented funcitons that don't seem to matter.

[2019-02-02 18:51] msisov commented on #508
Ok, your gbm implementation doesn’t provide modifiers field. That’s why browser process terminates gpu process (we have a validation method in the gpu process side, which checks if passed information is not compromised. That literally means that containers with strides, modifiers and offsets must have the same size.

We didn’t see that kind a problem before, but it seems your system is an exceptio

[2019-02-02 19:01] lorenz commented on #508
Makes sense. I'm pretty sure that issue is pretty common when using system GBM since Ubuntu pretty much uses unmodified upstream Mesa 18.2, which is what everybody else also uses. The thing is that all the other minigbm implementations don't work on my system.

[2019-02-02 19:32] msisov commented on #508
It’s about gpu driver and dri/drm rather than gbm. Gbm is just generic buffer manager, which abstracts everything underneath.

In any case, the root cause is clear now and will be fixed ASAP

[2019-02-03 02:14] etna opened #524 "Properly clone/checkout the code"
Hi, may I know how should one checkout the repo properly? There are no instructions on how this should be done; the only instructions on the README are for building.

i did a git clone of this repo but gclient runhooks always fails with 'gclient not configured'. Trying the steps listed in https://github.com/Igalia/chromium/issues/301#issuecomment-343826496 allows for gclient runhooks to run, but o

[2019-02-03 07:18] hedgepigdaniel opened #525 "Build fails on Arch"
I'm trying to build from a011df391c95d05da092c2468fe231c8911e5e82

[code]

Indeed, changing the `std::sqrtf` to just `::sqrtf`does fix it, although I'm a bit confused as to why, since that file does include `cmath` (https://en.cppreference.com/w/cpp/numeric/math/sqrt)

The use of `std:sqrtf` was introduced recently in 4aad48c08d9d3. Not sure if bug or build configuration error.

My build flags:

[

[2019-02-03 13:06] hedgepigdaniel commented on #525
Another error:

[code]

[2019-02-03 17:46] msisov commented on #525
I’m sorry, this issue is not about Wayland support, but rather about gcc support. Currently, chromium officially supports clang, but we and other guys from the community try to keep gcc builds also working, but it requires some time.

Please, switch to clang instead.

[2019-02-03 17:46] #525 closed, assigned to nobody

[2019-02-03 17:49] msisov commented on #524
Right, the instructions are missing.

You need to checkout upstream first and add remote to this repo. Then switch to it and gclient will be able to fetch needed dependencies.

[2019-02-03 17:50] msisov commented on #524
If you have more questions, feel free to reopen

[2019-02-03 21:58] hedgepigdaniel commented on #525
Well yes so far, although the reason I'm doing this is to try and put together a PKGBUILD for building chromium with wayland support on arch. My idea is to get the non-wayland build working first and then turn on the wayland flags.

I am already using clang, at least the second error error happens both with the bundled clang (9.0.0) and my system clang (7.0.0).

[2019-02-04 02:44] etna commented on #524
@msisov
Sorry, I still need help (and a little hand holding here).

As per the upstream instructions, I use depot_tools to perform `fetch --nohooks chromium`
The next step immediately after that is to run the dependencies script, which I omit because it's only useful for Ubuntu and Debian, following by `gcllient runhooks`.

I'm certain your add remote to this repo' step comes before gclient runhoo

[2019-02-04 06:42] msisov commented on #525
Please report about that issue to the upstream - crbug.com

[2019-02-04 06:45] msisov commented on #524
mkdir chromium
fetch --nohooks chromium
git remote add igalia https://github.com/Igalia/chromium
git fetch igalia
git checkout -b ozone-wayland-dev
git reset --hard igalia/ozone-wayland-dev
git pull igalia ozone-wayland-dev
gclient sync

[2019-02-04 06:45] #524 closed, assigned to nobody

[2019-02-04 13:10] hedgepigdaniel commented on #469
I still find that the cursor is often wrong, as of a011df391c95d05da092c2468fe231c8911e5e82. I'm not sure what the pattern is - it seems to get stuck, e.g. the :point_up_2: gets stuck and remains even when going over the tabs, or vice versa the default pointer remains when mousing over a link.

Theres a few of
[code]
and
[code]

[2019-02-04 13:20] msisov commented on #469
The issue is moved to upstream.

https://bugs.chromium.org/p/chromium/issues/detail?id=928260

[2019-02-04 13:20] #469 closed, assigned to nobody

[2019-02-04 13:26] msisov commented on #508
the issue has been moved to upstream https://bugs.chromium.org/p/chromium/issues/detail?id=928261

[2019-02-04 13:26] #508 closed, assigned to nobody

[2019-02-04 13:26] #492 closed, assigned to nobody

[2019-02-04 13:49] hedgepigdaniel opened #527 "Per-monitor HiDPI scaling does not work correctly"
When dragging windows between screens of high and low pixel densities, chromium does not adjust its window scale correctly. The windows are sometimes the wrong scale, and on a HiDPI screen, the UI is always blurry.

For scaling, there seem to be two separate binary states.
- One which switches correctly as it passes the boundary between screens. The scale doubles when it passes onto a HiDPI screen

[2019-02-04 13:53] msisov commented on #527
Thanks for reporting. Will it be possible to report to crbug.com instead?

[2019-02-04 13:54] hedgepigdaniel commented on #527
Sure - is that the process for all bugs or are there some things that should go here?

[2019-02-04 13:55] msisov commented on #527
Basically, everything must go there. We are in process of moving everything to upstream.

Even now, we merge patches to upstream first and rebase this branch each Monday to fetch all the changes we had there.

This branch is going to be used to keep v4l2 patches and ozone/x11 patches for some time.

plus our internal buildbot will be using it for some uncertain amount of time (before upstream has

[2019-02-04 14:07] hedgepigdaniel commented on #527
Great OK, So bugs related to Wayland support go upstream, but bugs with X11 in ozone builds or v4l2 go here.

Btw, love your work! I'm finally writing this from chromium running on wayland... its not finished, but it feels good :smiley:

[2019-02-04 14:07] #527 closed, assigned to nobody

[2019-02-04 14:08] msisov commented on #527
Thank you!

[2019-02-04 14:16] msisov commented on #527
and one more thing - whenever a bug is reported, please assign it it msisov@igalia.com or nickdiego@igalia.com or adunaev@igalia.com or rjkroege@chromium.org

[2019-02-05 08:05] msisov commented on #508
fixed by https://github.com/Igalia/chromium/pull/528

[2019-02-06 08:47] hedgepigdaniel commented on #503
It's not a binary, but at least its automated - I made a AUR package for any Arch Linux users: https://aur.archlinux.org/packages/chromium-ozone-wayland-git/

Note that:
- compilation takes a long time - for me its about 4 hours.
- there's a good chance that something in it is broken outside of the confines of my dev machine or that it will break when new code is pushed or that my hacky patches to

[2019-02-07 12:41] hedgepigdaniel commented on #527
I don't think I have the ability to assign tickets, but I've created this one for a different issue: https://bugs.chromium.org/p/chromium/issues/detail?id=929632

[2019-02-07 18:50] nickdiego commented on #503
Hey @hedgepigdaniel, that's great!
Thanks for contributing. I use Arch and will try it by myself :)

BTW, just remembered [this previous effort to create an AUR](https://github.com/Igalia/chromium/issues/311). It's out of date but maybe you can get some insights from it.

[2019-02-07 21:48] hedgepigdaniel commented on #527
And this issue: https://bugs.chromium.org/p/chromium/issues/detail?id=929871

[2019-02-08 15:45] nostdm opened #529 "Runtime error [gles2_cmd_decoder.cc] Context lost because SwapBuffers failed."
**Platform:** Arch Linux x86_64
**GPU:** Intel UHD 630
**Driver:** Mesa 18.3.3
**Chromium version:** 74.0.3694.0

**Build flags:**
[code]

I built the chromium-ozone-wayland binary from Arch Linux User repository: https://aur.archlinux.org/packages/chromium-ozone-wayland-git/#comment-681309

The build went well but when I start the browser I get the following errors (the browser does start but cra

[2019-02-08 16:51] nostdm commented on #529
I just noticed there's some more informative errors in the beginning of the log:
[code]

**Update:**
Installing `libva-mesa-driver`, `libva-intel-driver` and `libva-vdpau-driver` seems to have fixed the libva errors.

**Update:**
It also seems that the `--force-device-scale-factor` flag has no effect, since the interface is scaled to 200% by default and I would like it to be at 100%.

[2019-02-08 20:15] nickdiego commented on #529
Hi @nostdm, thanks for reporting this.

What compositor/version are you running on? Adding `--in-process-gpu` you get the same result?

PS: I've been running it (not using AUR build) on Arch with Intel GPU and never got something like that.

[2019-02-08 20:50] nostdm commented on #529
Hi @nickdiego I run it with `--in-process-gpu` which stops the SwapBuffers error but gives this output instead and occasionally segfaults `sway`:
[code]

P.S. I'm using `sway version 1.0-rc1-8-ga1a99421 (Feb  4 2019, branch 'master')` as the wayland compositor.

[2019-02-08 20:59] nickdiego commented on #529
Ok, I'll try to reproduce it in my env, with sway.
Additionally, could you please run it with `WAYLAND_DEBUG=1` and share the output with us?
Thanks.

[2019-02-08 21:22] nostdm commented on #529
Great, I upgraded `sway` to the latest version and it didn't help.

I ran it with WAYLAND_DEBUG=1 and this was the startup output:
[code]

[2019-02-08 21:27] nostdm commented on #529
By the way, is the `--force-device-scaling-factor` flag expected to work under wayland or is there another way to configure the scaling factor?

[2019-02-10 15:58] etna opened #530 "Crash on startup with signal 11 SEGV_MAPPER 000000000000"
GN Args:

Console log:

[10422:10422:0210/235131.130112:ERROR:desktop_window_tree_host_platform.cc(433)] Not implemented reached in virtual void views::DesktopWindowTreeHostPlatform::InitModalType(ui::ModalType)
[10422:10422:0210/235131.130198:ERROR:desktop_window_tree_host_platform.cc(443)] Not implemented reached in virtual bool views::DesktopWindowTreeHostPlatform::IsAnimatingClosed() const
[10

[2019-02-11 05:47] msisov commented on #530
Please, add use_system_minigbm=true

[2019-02-11 08:17] msisov commented on #527
Thanks.

[2019-02-12 03:17] nickdiego commented on #529
Just reported [this on upstream bug tracking tool](https://bugs.chromium.org/p/chromium/issues/detail?id=931030)

Patch fixing it under review at https://chromium-review.googlesource.com/c/chromium/src/+/1465781
So, I'm closing this in favor of the upstream version. Feel free to test it and provide some feedback there.

Thanks.

[2019-02-12 03:17] #529 closed, assigned to nobody

[2019-02-12 10:54] nickdiego commented on #529
Just uploaded [a second fix](https://chromium-review.googlesource.com/c/chromium/src/+/1466063) to subsurfaces-related crashes (actually sway was crashing :fearful:) I was getting after fixing the original issue reported here. Not sure if it will be merged upstream, since it seems to be a sway-specific issue, that should be ideally fixed at sway side. After a quick search, it looks like they alrea

[2019-02-14 13:04] nickdiego opened #531 "Startup crash in WaylandBufferManager::ValidateDataFromGpu()"
#### System info:

Arch Linux (kernel 4.19.20-1 LTS)
Mesa 18.3.3
Graphics card: Intel Corporation UHD Graphics 620
Compositor: Plasma 5.14.5

#### Backtrace:
[code]

** Does not happen with `--in-process-gpu`

[2019-02-14 13:20] msisov commented on #531
Crashes if zwp linux dmabuf is not available.

Ideally, Chromium must switch to software rendering instead.

[2019-02-14 13:22] msisov commented on #531
issue is moved to crbug - https://bugs.chromium.org/p/chromium/issues/detail?id=932098

[2019-02-14 13:22] #531 closed, assigned to msisov

[2019-02-18 11:34] msisov commented on #503
@hedgepigdaniel hi! would it be possible to change the repo to https://github.com/Igalia/chromium/tree/ozone-wayland-stable/72.0.3626.81 instead?

I'm taking latest stable releases and backport wayland patches to there. By using these kind of branches, we can make sure the browser is more stable.

[2019-02-19 22:57] hedgepigdaniel commented on #503
Sure, I'll give that a go. Might make more sense to make it a different package, e.g. `chromium-ozone`.

Perhaps also I'll try downloading the source from chromium.googlesource.com and then patching it instead of using gclient etc.

[2019-02-20 22:56] hedgepigdaniel commented on #503
Here it is: https://aur.archlinux.org/packages/chromium-ozone/

Other than the patches in that branch, I also needed https://github.com/chromium/chromium/commit/6c0254a78043e32441dbc2e6d4893590dd0d1953 for it to build successfully, and https://github.com/Igalia/chromium/commit/cdb2e638d4488936c80a2c1b506eecf95ffbee02 for it to build with VAAPI enabled.

Strangely, I made a non-debug build but it s

[2019-02-23 09:29] etna commented on #530
Tried building with it, same results:

[26632:26632:0223/172703.474326:ERROR:wayland_connection.cc(409)] No data device manager. Clipboard won't be fully functional
[26632:26632:0223/172703.632167:ERROR:desktop_window_tree_host_platform.cc(433)] Not implemented reached in virtual void views::DesktopWindowTreeHostPlatform::InitModalType(ui::ModalType)
[26632:26632:0223/172703.632269:ERROR:desktop_w

[2019-02-23 11:16] msisov commented on #530
first of all, you either run chromium with wrong gl implementation (swiftshader), which crashes at the moment (the patch to fix the software rendering is under review in the upstream), or your system doesn’t haven’t gbm, which results in falling back to software composition when a separate gpu process is spawn (though, there is no a message about that), or you have wayland gbm disabled (use_waylan

[2019-02-24 07:52] etna commented on #530
I'm on OpenSuse 15.0 with the Nouveau drivers. GBM is already installed:

Results of `zypper -v search gbm`:
[code]
 Also, I'm not passing any special run flags to Chromium beyond `--ozone-platform=wayland` .

I tried adding `—ignore-gpu-blacklist` without any results too.

[2019-02-24 09:16] nostdm opened #532 "Excessive UI scaling on HiDPI displays"
Build: https://aur.archlinux.org/packages/chromium-ozone/
Version: 72.0.3626.81
Compositor: Sway

When starting chromium it seems to scale the UI according to the display resolution (2x in my case), but since Sway is already set to use scale of 2x, chromium starts with a combined scale of 4x.

Running the binary with --ozone-platform=wayland --in-process-gpu --high-dpi-support=0 --force-device-sca

[2019-02-25 06:59] msisov commented on #532
HDPI patch is under review now. It will be merged soon.

[2019-02-25 06:59] #532 closed, assigned to nobody

[2019-02-25 07:50] msisov commented on #532
The patch is going to be included in the 72.0.3626.119 update.

[2019-02-25 14:54] msisov opened #533 "Ozone/Wayland with stable 72.0.3626.119 has been pushed."
I would like to notify everybody (I guess that's the only way how to notify users, who watch this repo) that an Ozone/Wayland with stable 72.0.3626.119 has just been pushed. It involves more backported patches from the ToT including fixed software rendering, improved compatibility with different Wayland compositors,
non-us keyboard layout support and etc.

Link the branch is here - https://github.

[2019-02-26 08:24] msisov commented on #530
One weird thing is that I can't see anything suspicious from the logs.

Can you please add logs to https://github.com/Igalia/chromium/blob/ozone-wayland-dev/ui/ozone/platform/wayland/gpu/wayland_connection_proxy.h#L76 to make sure gbm device is set.
then to https://github.com/Igalia/chromium/blob/ozone-wayland-dev/ui/ozone/platform/wayland/wayland_surface_factory.cc#L38 where it returns nullptr.

[2019-02-26 08:25] msisov commented on #533
Please, make sure you use at least the following args:

use_system_libdrm=true
use_system_minigbm=true
use_ozone=true
ozone_platform_wayland=true
use_xkbcommon=true

[2019-02-26 12:29] hedgepigdaniel commented on #533
EDIT: I take it back, the problem was with git, patches, and caching.

[2019-02-26 13:02] msisov commented on #533
Fooh. I was scared :)

[2019-03-10 15:42] ammen99 commented on #533
I still wish we had some binaries, compiling chromium is a difficult task for weaker computers. But anyway great work!

[2019-03-14 12:56] #533 closed, assigned to nobody

[2019-03-14 12:57] msisov opened #534 "Ozone/Wayland with stable 73.0.3683.75 has been pushed."
I would like to notify everybody that an Ozone/Wayland with stable  73.0.3683.75 has just been pushed.

Link to the branch is here - https://github.com/Igalia/chromium/tree/ozone-wayland-stable/73.0.3683.75

Make sure you compile at least with following args
use_ozone = true
ozone_platform_wayland = true
use_system_minigbm = true
use_system_libdrm = true
use_xkbcommon = true

[2019-03-15 21:03] ammen99 commented on #534
`use_system_gm` -> `use_system_libgbm` ?

[2019-03-24 04:43] etna commented on #530
Finally got a chance to test.

GN args:

Output:

[code]
After 'xcb_connection_has_error() returned true' is shown, nothing happens. No window, no additional statuses. Just...nothing. Have to Ctrl-C to kill the task.

Here's what's returned by `ps aux` when attempting to run:

[code]

[2019-03-24 14:08] skewty commented on #503
Any chance at using CI to make RPM, DEB, .tgz files (etc)?

[2019-03-24 21:49] nickdiego commented on #530
- What is your wayland compositor/version?
- Does the same error happens if you run with `--no-sandbox --user-data-dir=$(mktemp -d)` ?

[2019-03-24 22:50] nickdiego commented on #530
And please, make sure you're running with latest ToT.
From the logs, it looks like you're running a pretty old version, since that's been removed in https://crrev.com/c/1487853 ~1 month ago.

[code]

[2019-03-25 15:44] nostdm opened #535 "HiDPI scaling doesn't work"
I reported a similar issue a while back https://github.com/Igalia/chromium/issues/532 but it seems that it hasn't been fixed with the latest release.

I built the latest chromium-ozone release from AUR (Chromium 73.0.3683.86) https://aur.archlinux.org/packages/chromium-ozone/

And it seems that I'm still having the same issue, the `--force-device-scale-factor` flag is being ignored and everything

[2019-03-25 16:25] msisov commented on #535
The issue is being resolved now.

[2019-03-25 16:25] #535 closed, assigned to nobody

[2019-03-30 07:41] etna commented on #530
I'm following the checkout instructions as provided here: https://github.com/Igalia/chromium/issues/524#issuecomment-460146192

[2019-03-30 09:06] msisov commented on #530
Nowadays all the work is done in the tot and Id suggest to use the upstream checkout instead.

[2019-04-19 15:37] id4343 opened #536 "flatpak version?"
hi! you have plans make flatpak version chromium for wayland native?
thanks.

[2019-05-22 11:25] memegauste opened #537 "Segfault on start (zwp_linux_buffer_params.create failed)"
[code]

Arch, wayland, cli command: `chromium --ozone-platform=wayland`
I use i5-6600 and rx480 (I have also hd530 enabled in bios).

[2019-05-22 11:32] memegauste commented on #537
This was caused by using Sway, on gnome it works as intended.

[2019-05-22 11:33] memegauste opened #538 "Minimization of chromium window is not correct"
When you move window it gets resized to small square.

[2019-05-22 11:33] memegauste opened #539 "Mouse cursor is not rendered correctly"
As title says.

[2019-05-25 19:44] edrex opened #540 "upstream builds supporting wayland?"
is there any upstream tracking issue/discussion/work for enabling wayland support in the Canary channel? I'd like to start testing but doing my own builds is a big hurdle. (swaywm user)

[2019-05-25 19:48] edrex commented on #540
previous discussion: #232

[2019-05-25 20:02] edrex commented on #540
I found https://ci.chromium.org/p/chromium/builders/ci/linux-ozone-rel but I have no idea what I'm doing and I assume this is just for running tests and doesn't actually publish an artifact?

[2019-05-27 06:12] msisov commented on #540
Hi @edrex. The work is fully upstream now and we no longer rebase or submit patches to this downstream repo. Please refer to https://cs.chromium.org/chromium/src/docs/ozone_overview.md?l=250 (though, the docs need to be updated).

The meta-bug in upstream is located at
https://bugs.chromium.org/p/chromium/issues/detail?id=578890

If you are interested in testing, please refer to https://chromium.g

[2019-12-06 21:05] #325 closed, assigned to nobody

[2019-12-06 21:05] #540 closed, assigned to nobody

[2019-12-06 21:06] #539 closed, assigned to nobody

[2019-12-06 21:06] #538 closed, assigned to nobody

[2019-12-06 21:06] #537 closed, assigned to nobody

[2019-12-06 21:06] #536 closed, assigned to nobody

[2019-12-06 21:06] #534 closed, assigned to nobody

[2019-12-06 21:07] #530 closed, assigned to nobody

[2019-12-06 21:07] #512 closed, assigned to msisov

[2019-12-06 21:07] #503 closed, assigned to nobody

[2019-12-06 21:07] #470 closed, assigned to nobody

[2019-12-06 21:07] #350 closed, assigned to nobody

[2019-12-06 21:08] #326 closed, assigned to nobody